<section>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Title",
    heading_level: 3,
    font_size: "s",
  } %>

  <p><%= edition.title %></p>
</section>

<section>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Meta tag description",
    heading_level: 3,
    font_size: "s",
  } %>

  <p><%= edition.overview %></p>
</section>

<section>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Is this beta content?",
    heading_level: 3,
    font_size: "s",
  } %>

  <p><%= edition.in_beta ? "Yes" : "No" %></p>
</section>
