<%= f.hidden_field :artefact_id %>

<% if @downtime.errors.any? %>
   <p class="alert alert-danger">
     Errors: <%= @downtime.errors.full_messages.to_sentence %>
   </p>
<% end %>

<div class="downtime-dates">
  <div class="form-group">
    <p>This service will be unavailable from</p>
  </div>

  <div class="row js-start-time">
    <div class="form-group date col-sm-1">
      <%= f.label :start_time, "Hour", for: "downtime_start_time_4i" %>
      <%= select_hour @downtime.start_time&.hour || 1.hour.from_now.beginning_of_hour, { field_name: "start_time(4i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :start_time, "Minute", for: "downtime_start_time_5i" %>
      <%= select_minute @downtime.start_time&.minute, { field_name: "start_time(5i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <p class="joining-on">on</p>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :start_time, "Day", for: "downtime_start_time_3i" %>
      <%= select_day @downtime.start_time&.day || Date.tomorrow.day, { field_name: "start_time(3i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>
    <div class="form-group date col-sm-1">
      <%= f.label :start_time, "Month", for: "downtime_start_time_2i" %>
      <%= select_month@downtime.start_time&.month || Date.tomorrow.month, { field_name: "start_time(2i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :start_time, "Year", for: "downtime_start_time_1i" %>
      <%= select_year @downtime.start_time&.year || Date.tomorrow.year, { field_name: "start_time(1i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>
  </div>

  <div class="form-group">
    <p>to</p>
  </div>

  <div class="row js-stop-time">

    <div class="form-group date col-sm-1">
      <%= f.label :end_time, "Hour", for: "downtime_end_time_4i" %>
      <%= select_hour @downtime.end_time&.hour || 1.hour.from_now.beginning_of_hour, { field_name: "end_time(4i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :end_time, "Minute", for: "downtime_end_time_5i" %>
      <%= select_minute @downtime.end_time&.minute, { field_name: "end_time(5i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <p class="joining-on">on</p>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :start_time, "Day", for: "downtime_end_time_3i" %>
      <%= select_day @downtime.end_time&.day || Date.tomorrow.day, { field_name: "end_time(3i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :end_time, "Month", for: "downtime_end_time_2i" %>
      <%= select_month @downtime.end_time&.month || Date.tomorrow.month, { field_name: "end_time(2i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>

    <div class="form-group date col-sm-1">
      <%= f.label :end_time, "Year", for: "downtime_end_time_1i" %>
      <%= select_year @downtime.end_time&.year || Date.tomorrow.year, { field_name: "end_time(1i)", prefix: "downtime" }, { class: "form-control date" } %>
    </div>
  </div>
</div>

<hr>

<%= form_group(f, :message) do %>
  <%= f.text_area :message, class: 'form-control input-md-6 js-downtime-message', rows: 5 %>
<% end %>

<p class="add-bottom-margin help-note">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span class="js-schedule-message">Messages appear on the start page one day before the downtime is due.</span>
</p>

<hr>
