<%= f.hidden_field :artefact_id %>

<%= render :partial => 'shared/error_summary', locals: { object: @downtime} %>

<div class="form-group form-inline js-start-time" id="downtime_start_time">
  <%= f.label :start_time, 'This service will be unavailable from' %><br />
  <span>
  <%= f.time_select :start_time, { default: 1.hour.from_now.beginning_of_hour, ignore_date: true }, { class: 'date form-control' } %>
</span>
  <b class="add-left-margin add-right-margin">on</b>
  <%= f.date_select :start_time, { order: [:day, :month, :year], default: Date.tomorrow,
    start_year: Date.today.year, end_year: Date.today.year.next }, { class: 'date form-control' } %>
</div>

<div class="form-group form-inline js-stop-time" id="downtime_end_time">
  <%= f.label :end_time, 'to' %><br />
  <span>
  <%= f.time_select :end_time, { default: 1.hour.from_now.beginning_of_hour, ignore_date: true }, { class: 'date form-control' } %>
  </span>
  <b class="add-left-margin add-right-margin">on</b>
  <%= f.date_select :end_time, { order: [:day, :month, :year], default: Date.tomorrow,
    start_year: Date.today.year, end_year: Date.today.year.next }, { class: 'date form-control' } %>
</div>

<hr />

<%= form_group(f, :message) do %>
  <%= f.text_area :message, class: 'form-control input-md-6 js-downtime-message', rows: 5 %>
<% end %>

<p class="add-bottom-margin help-note">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span class="js-schedule-message">Messages appear on the start page one day before the downtime is due.</span>
</p>

<hr />
