<%
  add_gem_component_stylesheet("table")
  caption ||= nil
  rows ||= []
  first_cell_is_header ||= false
  caption_classes ||= nil
  sortable ||= false
  label ||= t("components.table.filter_label")
  table_id = "table-id-#{SecureRandom.hex(4)}"
%>

<%= TableHelper.helper(self, caption, {
    sortable: sortable,
    caption_classes: caption_classes,
    table_id: table_id
  }) do |t| %>

  <%= t.head do %>
    <%= t.header "Title" %>
    <%= t.header "Assigned to" %>
    <%= t.header "Status" %>
    <%= t.header '<button type="button" class="govuk-accordion__show-all gem-c-accordion__show-all" aria-expanded="false"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__show-all-text">Show all</span></button>'.html_safe %>
  <% end %>

  <% rows.each_with_index do |row, rowindex| %>
    <%
      summary = render "govuk_publishing_components/components/summary_list", {
        items: [
          {
            field: "Edition",
            value: row[:edition]
          },
          {
            field: "Format",
            value: row[:format]
          },
          {
            field: "Important Note",
            value: row[:note]
          }
        ],
        borderless: true
      }

      accordion = render "govuk_publishing_components/components/accordion", {
        disable_ga4: true,
        items: [
          {
            heading: {},
            content: {
              html: summary
            }
          }
        ]
      }
    %>

    <%= t.body do %>
      <%= t.row do %>
        <%= t.cell sanitize("<div><p>#{row[:title]}</p><span>Last updated: #{row[:updated]}</span></div>") %>
        <%= t.cell row[:assigned] %>
        <%= t.cell row[:status] %>
        <%= t.cell sanitize('<span class="accordion-hack__button-space"></span>') %>
      <% end %>
      <%= t.row do %>
        <%= t.cell accordion, {
          colspan: 4
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
