<%
  add_gem_component_stylesheet("table")
  caption ||= nil
  rows ||= []
  first_cell_is_header ||= false
  caption_classes ||= nil
  sortable ||= false
  label ||= t("components.table.filter_label")
  table_id = "table-id-#{SecureRandom.hex(4)}"
%>

<%= TableHelper.helper(self, caption, {
    sortable: sortable,
    caption_classes: caption_classes,
    table_id: table_id
  }) do |t| %>

  <%= t.head do %>
    <%= t.header "Title", {
      format: "expand"
    } %>
    <%= t.header "Updated" %>
    <%= t.header "Assigned to" %>
    <%= t.header "Status" %>
  <% end %>

  <% rows.each_with_index do |row, rowindex| %>
    <%
      if row[:status] === "Awaiting 2i"
        button = render "govuk_publishing_components/components/button", {
          text: "Claim 2i"
        }
      else
        button = nil
      end

      if button
        summary = button + (render "govuk_publishing_components/components/summary_list", {
          items: [
            {field: "Edition", value: row[:edition]},
            {field: "Format", value: row[:format]},
            *([{field: "Important Note", value: row[:note]}] if row[:note].present?),
            *([{field: "Awaiting review", value: row[:awaiting_review]}] if row[:awaiting_review].present?),
            *([{field: "2i reviewer", value: row[:reviewer]}] if row[:reviewer].present?),
            *([{field: "Sent Out", value: row[:sent]}] if row[:sent].present?),
            *([{field: "Scheduled", value: row[:scheduled]}] if row[:scheduled].present?),
            *([{field: "Published by", value: row[:published]}] if row[:published].present?)
          ],
          borderless: true
        })
      else
        summary = render "govuk_publishing_components/components/summary_list", {
          items: [
            {field: "Edition", value: row[:edition]},
            {field: "Format", value: row[:format]},
            *([{field: "Important Note", value: row[:note]}] if row[:note].present?),
            *([{field: "Awaiting review", value: row[:awaiting_review]}] if row[:awaiting_review].present?),
            *([{field: "2i reviewer", value: row[:reviewer]}] if row[:reviewer].present?),
            *([{field: "Sent Out", value: row[:sent]}] if row[:sent].present?),
            *([{field: "Scheduled", value: row[:scheduled]}] if row[:scheduled].present?),
            *([{field: "Published by", value: row[:published]}] if row[:published].present?)
          ],
          borderless: true
        }
      end

      details = render "govuk_publishing_components/components/details", {
        title: "More details"
      } do
        summary
      end
    %>

    <%= t.body do %>
      <%= t.row do %>
        <%= t.cell sanitize("<p class='title govuk-body'><a href='#{row[:href]}' class='govuk-link govuk-!-font-weight-bold'>#{row[:title]}</a></p>") + details %>
        <%= t.cell row[:updated], {
          format: 'updated'
        } %>
        <%= t.cell row[:assigned] %>
        <%= t.cell sanitize("<span class='govuk-tag govuk-tag--#{row[:status_colour]}'>#{row[:status]}</span>") %>
        <%= t.cell "" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
