  <%= render 'shared/edition_header' %>

  <p>
    <%= link_to "Back to current edition", edition_path(@resource.history.first), :class => "btn btn-default" %>
  </p>

  <h2>
    Changes from edition <%= @resource.version_number-1 %> to edition <%= @resource.version_number %>
  </h2>

  <%= diff_html(@comparison.whole_body, @resource.whole_body) %>

<% content_for :page_title, "Editing #{@resource.title}" %>
