<div class="row-fluid">

  <div class="page-header">
    <h1>Viewing &ldquo;<%= @resource.title %>&rdquo; <span class="label">Edition <%= @resource.version_number %></span></h1>
  </div>
  <% if @resource.artefact.state == "archived" %>
    <div class="alert alert-error">
      <h2>Stop! You can't edit this publication because its artefact file in Panopticon has been archived.</h2>
      <p>(It's unpublished from the website but you can still see the latest edition here in Publisher.)</p>
    </div>
  <% else %>
    <div class="alert alert-info">
      Status: <strong><%= @resource.status_text %></strong>
    </div>

    <%= render 'shared/ready_or_review_or_fact_check' %>
    <%= render 'shared/workflow_buttons' %>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
      <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
      <li><a href="#history" data-toggle="tab">History &amp; Notes</a></li>
      <li><a href="#admin" data-toggle="tab">Admin</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="edit">
          <div class="well">
            <%= render resource_edit_view %>
          </div><!--/.well -->
        </div>
        <div class="tab-pane" id="metadata">
          <div class="well">
            <%= render :partial => '/shared/metadata', :locals => {:publication => @resource} %>
          </div><!--/.well -->
        </div>
        <div class="tab-pane" id="history">
          <div class="well">
            <%= render :partial => '/shared/history', :locals => {:publication => @resource} %>
          </div><!--/.well -->
        </div>
        <div class="tab-pane" id="admin">
          <div class="well">
            <% if @resource.artefact.state != "archived" %>
              <%= render :partial => '/shared/admin_buttons', :locals => {:publication => @resource} %>
            <% end %>
          </div><!--/.well -->
        </div>
    </div><!--/.tab-content -->
  </div><!--/.tabbable -->

</div><!--./row-fluid -->

<% content_for :page_title, "Editing #{@resource.title}" %>
