<% @edition = @resource %>
  <%= render 'shared/edition_header' %>
  <div class="tabbable" data-module="tab-switcher" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <% @tabs.each do |tab| %>
        <li <% if tab.active?(@active_tab) %>class="active"<% end %>>
          <%= tab.link(@resource) %>
        </li>
      <% end %>
    </ul>

    <div class="tab-content add-top-margin">
      <%= resource_form do |f| %>
        <div class="well">
          <%= render resource_fields, f: f %>
        </div>
        <%= edition_activities_fields(f, @resource) %>
      <% end %>
      <%= # cancel scheduled publishing doesn't require the edition to be saved when requesting an activity,
        # because this action is triggered from a view where editing is not allowed.
        edition_activities_forms(@resource, Edition::CANCEL_SCHEDULED_PUBLISHING_ACTION) %>

      <% @tabs.reject {|t| t.name == 'edit'}.each do |tab| %>
        <div role="tabpanel" class="tab-pane <% if tab.active?(@active_tab) %>active<% end %>" id="<%= tab.name %>">
          <div class="well">
            <%= render :partial => tab.partial, :locals => {:publication => @resource} %>
          </div>
        </div>
      <% end %>
    </div><!--/.tab-content -->
  </div><!--/.tabbable -->
<% content_for :page_title, "Editing #{@resource.title}" %>
