<div class="span8">
  <legend><span class="node-label"><%= f.object.slug.to_s.titleize %></span>
      <%= f.link_to_remove "<i class=\"icon-remove\"></i> Remove node".html_safe, :class => "btn btn-link pull-right remove-node" %>
  </legend>

  <%= f.input :title, :label => false, :input_html => { :placeholder => "The title of the outcome", :class => "span10 node-title" } %>
  <%= f.input :body, :label => false, :input_html => { :placeholder => "Optional extra information", :class => "span10 node-body" } %>

  <%= f.input :kind, :as => :hidden, :input_html => { :class => "node-kind" } %>
  <%= f.input :slug, :as => :hidden, :input_html => { :class => "node-slug" } %>

  <% unless f.object.kind == "outcome" %>
    <div class="options">
      <%= f.semantic_fields_for :options, :wrapper_class => "radio outcome-wrap option" do |o| %>
        <input type="radio" disabled>
        <%= o.input :label, :label => false, :input_html => { :placeholder => "Label", :class => "option-label" } %>
        <i class="icon-arrow-right"></i>
        <%= o.input :next, :as => :hidden, :input_html => { :class => "next-node-id" } %>
        <select class="next-node-list" name="next-node-list">
          <option value="" class="default">Select a node..</option>
          <optgroup label="Questions" class="question-list"></optgroup>
          <optgroup label="Outcomes" class="outcome-list"></optgroup>
        </select>
        <%= o.link_to_remove "<i class=\"icon-remove\"></i> Remove option".html_safe, :class => "btn btn-link btn-small remove-option" %>
      <% end %>
      <%= f.link_to_add "<i class=\"icon-plus-sign icon-white\"></i> Add an option".html_safe, :options, :class => "btn btn-primary btn-small" %>
    </div>
  <% end %>
</div>
