<h3>Areas</h3>
<div class="checkbox if-no-js-hide">
  <label>
    <%= check_box_tag "all_regions", "1", all_regions?(f.object), { class: "areas-chkbx", disabled: @resource.locked_for_edits? } %>
    All of the UK
  </label>
</div>
<div class="checkbox if-no-js-hide">
  <label>
    <%= check_box_tag "english_regions", "1", english_regions?(f.object), { class: "areas-chkbx", disabled: @resource.locked_for_edits? } %>
    All of England
  </label>
</div>

<div class="related-areas fieldset-section">
  <%= f.label :areas, 'Related areas', class: "add-top-margin control-label" %>
  <%= f.select :areas,
    edition_areas_select_options(@resource),
    {},
    {
      multiple: true,
      class: "form-control",
      placeholder: "Choose one or more regions, counties and local authorities",
      disabled: @resource.locked_for_edits?,
    }
  %>
</div>
<hr/>
<% content_for :extra_javascript do %>
  <%= javascript_include_tag "views/business_support/areas_select" %>
<% end %>
