<h3>Areas</h3>
<div class="checkbox">
  <label>
    <%= check_box_tag "all_regions", "1", all_regions?(f.object), { class: "areas-chkbx" } %>
    All of the UK
  </label>
</div>
<div class="checkbox">
  <label>
    <%= check_box_tag "english_regions", "1", english_regions?(f.object), { class: "areas-chkbx" } %>
    All of England
  </label>
</div>

<div class="related-areas fieldset-section">
  <%= f.label :areas, class: "control-label" %>
  <%= f.text_area :areas, size: "75x3",
        class: "form-control",
        placeholder: "Fill-in regions, counties and local authorities, " +
          "separated by a comma. for example: South East, West Sussex, Horsham",
        value: f.object.areas.present? ? f.object.areas.join(", ") : "",
        data: { areas: edition_areas_json(f.object) } %>
</div>
<hr/>
<% content_for :extra_javascript do %>
  <%= javascript_include_tag "views/business_support/areas_select", "/areas" %>
<% end %>
