<h3>Areas</h3>
<label class="checkbox inline normal">All of the UK
  <%= check_box_tag "all_regions", "1", all_regions?(f.object), { class: "areas-chkbx" } %>
</label>
<label class="checkbox inline normal">All of England
  <%= check_box_tag "english_regions", "1", english_regions?(f.object), { class: "areas-chkbx" } %>
</label>

<div class="related-areas fieldset-section">
  <%= f.label :areas, class: "control-label" %>
  <%= f.text_area :areas, size: "75x3",
        class: "form-control",
        placeholder: "Fill-in regions, counties and local authorities, " +
          "separated by a comma. for example: South East, West Sussex, Horsham",
        value: f.object.areas.present? ? f.object.areas.join(", ") : "",
        data: { areas: edition_areas_json(f.object) } %>
</div>
<hr/>
<% content_for :extra_headers do %>
  <%= stylesheet_link_tag "vendor/select2" %>
  <%= stylesheet_link_tag "vendor/select2-bootstrap" %>
<% end %>
<% content_for :extra_javascript do %>
  <%= javascript_include_tag "vendor/select2", "views/business_support/areas_relator", "/areas" %>
<% end %>
