<%= semantic_form_for @resource, :url => edition_path(@resource), :as => :edition do |f| %>
  <div class="row-fluid">


    <div class="span8">
    <%= f.inputs do %>
      <%= render :partial => 'shared/title_etc', :locals => {:f => f} %>
      <%= render :partial => 'business_supports/fields', :locals => { :f => f, :locked_for_edits => @resource.locked_for_edits? } %>
    <% end %>
    </div>
    <div class="span4">
      <h3>Govspeak help</h3>

      <div class="well">
        <%= render "../shared/govspeak_help" %>
      </div>
    </div>
  </div>

<% end %>
