<% all_checked = (collection.map(&:slug) - f.object.send(model_collection.to_sym)).empty? -%>
<div class="form-group" id="<%= model_collection.singularize %>" data-module="check-all-boxes">
  <h3><%= title %></h3>
  <div class="checkbox">
    <label for="business_support_<%= model_collection.singularize %>_check_all">
      <%= check_box_tag "business_support_#{model_collection.singularize}_check_all", "", all_checked, { :disabled => locked_for_edits, class: 'js-check-all' } %>All
    </label>
  </div>

  <% collection.each do |facet| -%>
    <div class="checkbox">
      <label>
        <%= f.check_box model_collection, { :multiple => true, :disabled => locked_for_edits }, facet.slug, nil %>
        <%= facet.name %>
      </label>
    </div>
  <% end %>
</div>
