<div class="row">
  <div class="col-md-8">
    <%= f.inputs do %>
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
      <%= render :partial => 'business_supports/additional_fields', :locals => { :f => f, :locked_for_edits => @resource.locked_for_edits? } %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Govspeak help</h3>
    <div class="well">
      <%= render "../shared/govspeak_help" %>
    </div>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
