<h2>New Business Support</h2>

<p>We need a bit more information to create your business support.</p>

<% if @publication.errors.any? %>
<p>Errors: <%= @publication.errors.full_messages.uniq.to_sentence %></p>
<% end %>

<%= semantic_form_for(@publication, :url => editions_path, :as => :edition) do |f| %>
  <%= render partial: 'business_supports/fields', locals: { f: f, locked_for_edits: false } %>
  <%= f.inputs do %>
    <input type="hidden" name="edition[kind]" value="business_support">
    <%= f.input :panopticon_id, :as => :hidden %>
    <%= f.input :title, :as => :hidden %>
    <%= f.input :slug, :as => :hidden %>
    <%= f.input :section, :as => :hidden %>
    <%= f.input :department, :as => :hidden %>
  <% end %>
  <%= f.buttons %>
<% end %>

