<% administrations = {
  "Scotland" => :scotland_availability,
  "Wales" => :wales_availability,
  "Northern Ireland" => :northern_ireland_availability,
} %>
<% administrations.each do |title, field_name| %>
  <%= f.fields_for field_name do |f| %>
    <p class="h4 add-top-margin"><%= title %></p>

    <div class="form-group">
      <div class="radio">
        <%= f.label :type_local_authority_service, class: "control-label" do %>
          <%= f.radio_button :authority_type, "local_authority_service", disabled: @resource.locked_for_edits? %>
          Service available from local council
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="radio">
        <%= f.label :type_devolved_administration_service, class: "control-label" do %>
          <%= f.radio_button :authority_type, "devolved_administration_service", disabled: @resource.locked_for_edits? %>
          Service available from devolved administration (or a similar service is available)
        <% end %>
      </div>
    </div>

    <%= form_group(f, :alternative_url, label: "Enter the URL of the devolved administration website page", attributes: { class: %w[inset-text-field] }) do %>
      <%= f.text_field :alternative_url, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
    <% end %>

    <div class="form-group">
      <div class="radio">
        <%= f.label :type_unavailable, class: "control-label" do %>
          <%= f.radio_button :authority_type, "unavailable", disabled: @resource.locked_for_edits? %>
          Service not available
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
