<%= semantic_form_for @resource, :url => edition_path(@resource), :as => :edition, :html => { :id => 'edition-form' } do |f| %>
  <%= f.inputs do %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :lgsl_code, :label => 'LGSL code', :input_html => {:disabled => true} %>
        <%= f.input :lgil_override, :label => 'LGIL override', :hint => 'Optional LGIL code', :input_html => { :disabled => @resource.locked_for_edits? } %>
      </div>
    </div>

    <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :introduction, :label => 'Introductory paragraph', :hint => 'Set the scene for the user. Explain that it\'s the responsibility of the local council and that we\'ll take you there.', :as => :text, :input_html => {:rows => 2, :disabled => @resource.locked_for_edits? } %>

        <%= f.input :more_information, :as => :text, :input_html => { :disabled => @resource.locked_for_edits? } %>
      </div>
      <div class="col-md-3">
        <%= f.input :minutes_to_complete, :input_html => { :disabled => @resource.locked_for_edits? } %>
      </div>
    </div>
    <hr />
    <%= f.input :expectation_ids, :label => "Expectations", :as => :check_boxes, :collection => LocalTransactionEdition.expectation_choices, :input_html => { :disabled => @resource.locked_for_edits? } %>
  <% end %>

  <%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
<% end %>
