<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <legend class="remove-bottom-margin">
        <h2 class="remove-top-margin add-bottom-margin h3">Edit Local transaction</h2>
      </legend>

      <%= form_group(f, :lgsl_code, label: "LGSL code") do %>
        <%= f.text_field :lgsl_code, disabled: true, class: "input-md-4 form-control" %>
      <% end %>

      <%= form_group(f, :lgil_code, label: "LGIL code") do %>
        <%= f.text_field :lgil_code, disabled: @resource.locked_for_edits?, class: "input-md-4 form-control" %>
      <% end %>

      <%= render :partial => "shared/common_edition_attributes", :locals => {:f => f} %>

      <%= form_group(f, :introduction, label: "Introductory paragraph", help: "Set the scene for the user. Explain that it's the responsibility of the local council and that we'll take you there.") do %>
        <%= f.text_area :introduction, rows: 8, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <%= form_group(f, :cta_text, label: "CTA Text", help: "Text for the search button. If empty, the default 'Find your local council' will be used") do %>
        <%= f.text_field :cta_text, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :more_information) do %>
        <%= f.text_area :more_information, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <%= form_group(f, :need_to_know, label: "What you need to know") do %>
        <%= f.text_area :need_to_know, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

     <%= form_group(f, :before_results, label: "Before results", help: "If present, will appear above the search results") do %>
        <%= f.text_area :before_results, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <%= form_group(f, :after_results, label: "After results", help: "If present, will appear below the search results") do %>
        <%= f.text_area :after_results, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <%= render partial: "local_transactions/devolved_administrations", locals: { f: f, resource: @resource.editionable } %>
    </fieldset>
  </div>
</div>

<%= render partial: "shared/workflow_buttons", locals: { f: f } %>
