<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <div class="form-group">
        <span class="form-label">
          <%= f.label :lgsl_code, "LGSL code" %>
        </span>
        <span class="form-wrapper">
          <%= f.text_field :lgsl_code, disabled: true, class: "input-md-4 form-control" %>
        </span>
      </div>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :lgil_code, "LGIL code" %>
        </span>
        <span class="form-wrapper">
          <%= f.text_field :lgil_code, disabled: @resource.locked_for_edits?, class: "input-md-4 form-control" %>
        </span>
      </div>

      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :introduction, "Introductory paragraph" %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :introduction, rows: 8, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
          <span class="help-block">Set the scene for the user. Explain that it's the responsibility of the local council and that we'll take you there.</span>
        </span>
      </div>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :more_information %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :more_information, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
        </span>
      </div>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :need_to_know, "What you need to know" %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :need_to_know, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
        </span>
      </div>

      <% administrations = {
        "Scotland" => :scotland_availability,
        "Wales" => :wales_availability,
        "Northern Ireland" => :northern_ireland_availability
      } %>
      <% administrations.each do |title, field_name| %>
        <%= f.fields_for field_name do |f| %>
          <p class="h4"><%= title %></p>
          <div class="form-group">
            <div class="radio">
              <%= f.label :type_local_authority_service, class: "control-label" do %>
                <%= f.radio_button :type, 'local_authority_service', disabled: @resource.locked_for_edits? %>
                Service available from local council
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <%= f.label :type_devolved_administration_service, class: "control-label" do %>
                <%= f.radio_button :type, 'devolved_administration_service', disabled: @resource.locked_for_edits? %>
                Service available from devolved administration (or a similar service is available)
              <% end %>
            </div>
          </div>
          <div class="form-group inset-text-field">
            <div class="form-label">
              <%= f.label :alternative_url, "Enter the URL of the devolved administration website page", class: "inset-text-field-label" %>
            </div>
            <div class="form-wrapper">
              <%= f.text_field :alternative_url, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <%= f.label :type_unavailable, class: "control-label" do %>
                <%= f.radio_button :type, 'unavailable', disabled: @resource.locked_for_edits? %>
                Service not available
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </fieldset>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
