<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= answer.title %> - Beta.Gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/guides.css" />
</head>
<body>

<div id="wrapper" class="answer">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2><span class="arrow"></span>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 <%= answer.related_items %>
								 <li class="related-topic"><a href="#">More in <%= answer.category %>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">

        <hgroup>
          <h1><%= answer.title %></h1>
        </hgroup>

    </header>

		<div class="article-and-navigation group">

	    <article role="article" class="group">
	      <div class="inner">
	        <%= Govspeak::Document.new(answer.body || "").to_html %>
	      </div>
	    </article>
	
			<div class="meta-data">
				<p class="modified-date">Last updated: <%= answer.updated_at.strftime("%m/%d/%Y") %></p>
			</div>
	
		</div>

  </section>

</div> <!-- end wrapper -->

</body>
</html>

