<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= answer.title %> - Gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/guides.css" />
</head>
<body>

<div id="wrapper" class="answer">

  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><a href="#" rel="bookmark" title="Permanent link to <%= answer.title %>"><%= answer.title %></a></h1>
          <p class="modified-date">Last updated: <%= answer.updated_at %></p>
        </hgroup>

        <div class="related">
          <div class="inner" class="group">
            <h2>Related tools &amp; topics</h2>
            <nav role="navigation">
              <ul>
                <li><a href="#">Know my rights about my payslip</a></li>
                <li><a href="#">The age children can start work</a></li>
                <li><a href="#">When you can start work</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">
        <%= Govspeak::Document.new(answer.body || "").to_html %>
      </div>
    </article>

  </section>

</div> <!-- end wrapper -->

</body>
</html>

