<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Guide to <%= guide.title %> - www.gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if guide.overview and guide.overview != '' %>
  <meta name="description" content="<%= guide.overview %>">
  <% end %>
</head>
<body>

<div id="wrapper" class="guide">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 <%= guide.related_items %>
								 <li class="related-topic"><a href="#">More in <span><%= guide.category %></span>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">

        <hgroup>
          <h1><span>Guide to </span><%= guide.title %></h1>
        </hgroup>

    </header>

		<div class="article-and-navigation group">

	    <aside role="navigation">
	      <div class="inner">

	        <nav>
	          <ol>
	            <% guide.parts.each do |nav_part| %>
	            <li <% if part == nav_part %>class="active"<% end %>>
	              <a href="<%= guide_path(guide.slug, nav_part.slug) %>" title="Part <%= nav_part.number %>: <%= nav_part.title %>">
	                <span class="part-label">Part <%= nav_part.number %><span class="visuallyhidden">:</span></span> <span class="part-title"><%= nav_part.title %></span>
	              </a>
	            </li>
	            <% end %>
	          </ol>
	        </nav>

					<div class="meta-data">
						<p class="modified-date">Last updated: <%= guide.updated_at.strftime("%m/%d/%Y") %></p>
					</div>

	      </div>
	    </aside>

	    <article role="article" class="group">
	      <div class="inner">

	        <header>
	          <h1><span>Part <%= part.number %><span class="visuallyhidden">:</span> </span><%= part.title %></h1>
	        </header>

	        <%= Govspeak::Document.new(part.body).to_html %>

	        <footer>
	  	      <!-- <nav class="pagination" role="navigation">
	            <ul>
	  	        <%- if guide.has_previous_part?(part) -%>
	  	          <a href="<%= guide_path(guide.slug, guide.part_before(part).slug) %>">&larr; Previous part</a></li>
	  	        <%- end -%>
	  	          <li class="pages">Part <%= part.number %> of <%= guide.parts.length %> in this guide.</li>
	  	        <%- if guide.has_next_part?(part) -%>
	  	          <li class="next" rel="next"><a href="<%= guide_path(guide.slug, guide.part_after(part).slug) %>" title="Navigate to next part">Next part &rarr;</a></li>
	  	        <%- end -%>
	  	      </nav> -->
	  	      <nav class="pagination" role="navigation">
	            <ul class="group">
	  	        <%- if guide.has_previous_part?(part) -%>
	  	          <li class="previous" rel="previous">
									<a href="<%= guide_path(guide.slug, guide.part_before(part).slug) %>" title="Navigate to previous part"><span class="pagination-label">&larr; Part <%= guide.part_before(part).number %></span> <%= (guide.part_before(part).title) %></a>
								</li>
	  	        <%- end -%>
	  	        <%- if guide.has_next_part?(part) -%>
								<li class="next" rel="next">
									<a href="<%= guide_path(guide.slug, guide.part_after(part).slug) %>" title="Navigate to next part"><span class="pagination-label">Next part (<%= guide.part_after(part).number %> of <%= guide.parts.length %>) &rarr;</span> <%= (guide.part_after(part).title) %></a>
								</li>
	  	        <%- end -%>
	  	      </nav>
	        </footer>

	      </div>
	    </article>

		</div>

  </section>

</div> <!-- end wrapper -->

</body>
</html>