<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Guide to <%= :page_title %> - Beta.Gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/guides.css" />
</head>
<body>

<div id="wrapper" class="guide">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2><span class="arrow"></span>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
			           <li><a href="#">Know my rights about my payslip</a></li>
			           <li><a href="#">The age children can start work</a></li>
			           <li><a href="#">When you can start work</a></li>
								<li class="related-topic"><a href="#">More in transport&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">

        <hgroup>
          <h1><%= guide.title %></h1>
          <p class="modified-date">Last updated: <%= guide.updated_at.strftime("%m/%d/%Y") %></p>
        </hgroup>

    </header>

		<div class="article-and-navigation group">

	    <aside role="navigation">
	      <div class="inner">

	        <nav>
	          <ol>
	            <% guide.parts.each do |nav_part| %>
	            <li <% if part == nav_part %>class="active"<% end %>>
	              <a href="<%= guide_path(guide.slug, nav_part.slug) %>" title="Part <%= nav_part.number %>: <%= nav_part.title %>">
	                Part <%= nav_part.number %>: <%= nav_part.title %>
	              </a>
	            </li>
	            <% end %>
	          </ol>
	        </nav>

	      </div>
	    </aside>

	    <article role="article" class="group">
	      <div class="inner">

	        <header>
	          <h1><%= part.title %></h1>
	        </header>

	        <%= Govspeak::Document.new(part.body).to_html %>

	        <footer>
	  	      <nav class="pagination" role="navigation">
	            <ul>
	  	        <%- if guide.has_previous_part?(part) -%>
	  	          <a href="<%= guide_path(guide.slug, guide.part_before(part).slug) %>">&larr; Previous part</a></li>
	  	        <%- end -%>
	  	          <li class="pages">Part <%= part.number %> of <%= guide.parts.length %> in this guide.</li>
	  	        <%- if guide.has_next_part?(part) -%>
	  	          <li class="next" rel="next"><a href="<%= guide_path(guide.slug, guide.part_after(part).slug) %>" title="Navigate to next part">Next part &rarr;</a></li>
	  	        <%- end -%>
	  	      </nav>
	        </footer>

	      </div>
	    </article>

		</div>

  </section>

</div> <!-- end wrapper -->

</body>
</html>

