<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= transaction.title %> - Beta.Gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/guides.css" />
  <% if transaction.overview and transaction.overview != '' %>
  <meta name="description" content="<%= transaction.overview %>">
  <% end %>
</head>
<body>

<div id="wrapper" class="transaction">

  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><%= transaction.title %></h1>
          <p class="modified-date">Last updated: <%= transaction.updated_at.strftime("%m/%d/%Y") %></p>
        </hgroup>

        <div class="related">
          <div class="inner" class="group">
            <h2>Related tools &amp; topics</h2>
            <nav role="navigation">
              <ul>
                <li><a href="#">Know my rights about my payslip</a></li>
                <li><a href="#">The age children can start work</a></li>
                <li><a href="#">When you can start work</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div class="intro">
          <p><%= transaction.introduction %></p>
          <h2 class="button"><a href="<%= transaction.link %>" rel="external" title="Begin <%= transaction.title %> in a new browser window">Get started &rarr;</a></h2>
        </div>

        <div class="continue">
          <p>This will continue on http://<%= transaction.will_continue_on %></p>
        </div>

        <div class="more">
          <h2>More about this service</h2>
          <%= Govspeak::Document.new(transaction.more_information || "").to_html %>
        </div>

      </div>
    </article>

    <aside>
      <ul class="helpers">
        <% transaction.expectations.each do |e| %>
            <li class="<%= e['css_class'] %>">
              <%= e['text'] %>
            </li>
        <% end %>
        </ul>
    </aside>

  </section>

</div> <!-- end wrapper -->

</body>
</html>
