<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= transaction.title %> - Gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/guides.css" />
</head>
<body>

<div id="wrapper" class="transaction">

  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><a href="#" rel="bookmark" title="Permanent link to <%= transaction.title %>"><%= transaction.title %></a></h1>
          <p class="modified-date">Last updated: <%= transaction.updated_at %></p>
        </hgroup>

        <div class="related">
          <div class="inner" class="group">
            <h2>Related tools &amp; topics</h2>
            <nav role="navigation">
              <ul>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div>
        <%= Govspeak::Document.new(transaction.introduction || "").to_html %>
        </div>
        <p><a href="<%= transaction.link %>">Get started</a></p>
        <p>This will continue on <%= transaction.will_continue_on %></p>
        <h2>More about this service</h2>
        <div>
        <%= Govspeak::Document.new(transaction.more_information || "").to_html %>
        </div>

      </div>
    </article>

  </section>

</div> <!-- end wrapper -->

</body>
</html>