<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    <%= transaction.alternative_title.nil? ? transaction.alternative_title : transaction.title %> |
    <% unless transaction.section.nil? or transaction.section == ''%>
    <%= transaction.section %> |
    <% end %>
    Beta.gov.uk
  </title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if transaction.overview and transaction.overview != '' %>
  <meta name="description" content="<%= transaction.overview %>">
  <% end %>
</head>
<body>

<div id="wrapper" class="transaction">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 <%= transaction.related_items %>
								 <li class="related-topic"><a href="#">More in <span><%= transaction.section %></span>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><span>Services</span> <%= transaction.title %></h1>
        </hgroup>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div class="intro">
          <%= Govspeak::Document.new(transaction.introduction || "").to_html %>

          <p class="get-started"><a href="<%= transaction.link %>" title="Begin <%= transaction.title %> on the <%= transaction.will_continue_on %> site in a new browser window" rel="external" class="button">Get started &rarr;</a></p>

          <% if transaction.will_continue_on != '' %>
            <p>This will continue on <%= transaction.will_continue_on %>.</p>
          <% end %>
        </div>

        <h2>What you need to know</h2>

        <div class="more">
          <ul class="helpers">
          <% transaction.expectations.each do |e| %>
            <li class="<%= e['css_class'] %>">
              <%= e['text'] %>
            </li>
          <% end %>
          </ul>

          <%= Govspeak::Document.new(transaction.more_information || "").to_html %>
        </div>

        <% if transaction.uses_government_gateway %>
          <p>Uses Government Gateway. Oh No!</p>
        <% end %>
        <% if transaction.minutes_to_complete %>
          <p>This is probably going to take you <%= transaction.minutes_to_complete %> minutes</p>
        <% end %>
      </div>

  		<div class="meta-data">
  			<p class="modified-date">Last updated: <%= transaction.updated_at.strftime("%d %B %Y") %></p>
  			<p>Re-use this data:</p>
				<ul class="api-links">
          <li class="json"><a href="<%= settings.api_host %>/publications/<%= transaction.slug %>.json">JSON</a></li>
        </ul>
  		</div>

    </article>

  </section>

</div> <!-- end wrapper -->

</body>
</html>
