<div class="row-fluid">
  <div class="span12">

    <div class="page-header">
      <h1>Manage expectations</h1>
    </div>

    <div class="well">

      <div class="row-fluid">
        <div class="span5">
          <h2>Existing expectations</h2>
          <ul>
            <% @expectations.each do |expectation| %>
            <li><%= expectation.text %></li>
            <% end %>
          </ul>
        </div>

        <div class="span7">
          <h2>Add new expectation</h2>
          <%= semantic_form_for([:admin, @expectation]) do |f| %>
            <%= f.inputs do %>
              <%= f.input :text %>
              <%= f.input :css_class, :label => 'CSS Class', :hint => 'If in doubt about what to use here, ask a front end developer' %>
              <input class="btn btn-success" name="commit" type="submit" value="Create Expectation">
            <% end %>
          <% end %>
        </div>
      </div><!--/.row-fluid -->

    </div><!--/.well -->

  </div><!--/.span12 -->
</div><!--/.row-fluid -->

<% content_for :extra_javascript do %>
  <%= javascript_include_tag 'publications.js' %>

  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('#expectation_text').change(function () {
        var title_field = $(this);
        var slug_field = $('#expectation_css_class');
        if (slug_field.val() == '') {
          slug_field.val(GovUKGuideUtils.convertToSlug(title_field.val()));
        }
      })
    })
  </script>
<% end %>
<% content_for :page_title, "Manage expectations" %>
