<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Delete chapter" %>
<% content_for :title, "Delete chapter" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", { text: "Are you sure you want to delete this chapter?" } %>

    <%= render "govuk_publishing_components/components/inset_text", { text: @part.title } %>

    <%= render "govuk_publishing_components/components/warning_text", { text: "Deleting this chapter will permanently remove it." } %>

    <%= form_for @part, url: edition_guide_part_path(@edition, @part), method: :delete do %>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete chapter",
          destructive: true,
        } %>

        <%= link_to("Cancel", Flipflop.enabled?(:guide_chapter_accordion_interface) ? edition_path(@edition) : edit_edition_guide_part_path(@edition, @part), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
