<%= semantic_form_for @latest_edition, :url => admin_programme_edition_path(@programme, @latest_edition), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
  <% end %>

  <h2 class="visuallyhidden">Parts</h2>

  <section id="parts" class="group">

    <% f.object.parts.replace f.object.parts.sort_by(&:order) %>

    <%= f.semantic_fields_for :parts do |part| %>
      <%= render :partial => '/admin/programmes/part', :locals => {:f => part} %>
    <% end %>

  </section>

<% end %>
