<%= semantic_form_for @resource, :url => admin_edition_path(@resource), :as => :whole_edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
  <% end %>

  <hr>

  <h3>Parts</h3>

  <section class="accordion" id="parts">

    <% f.object.parts.replace f.object.parts.sort_by(&:order) %>

    <%= f.semantic_fields_for :parts do |part| %>
      <%= render :partial => '/admin/programmes/part', :locals => {:f => part} %>
    <% end %>

  </section>

<% end %>

<% content_for :extra_javascript, javascript_include_tag('multi-part') %>