<%= semantic_nested_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
  <% end %>

  <hr>

  <div class="row-fluid">

    <div class="span8">

      <h3>Parts</h3>

      <section class="accordion" id="parts">

        <%= f.semantic_fields_for :parts, @ordered_parts do |part| %>
          <%= render :partial => '/admin/shared/part', :locals => { :f => part, :editable => false } %>
        <% end %>

      </section>

    </div>

    <div class="span4">
      <h3>Govspeak help</h3>

      <div class="well">
        <%= render "../shared/markdown_help" %>
      </div>
    </div>
  </div>
<% end %>
