<h2>Viewing Edition <%= @latest_edition.version_number %> of &ldquo;<%= @resource.title %>&rdquo;</h2>
<p>Status: <%= @latest_edition.latest_status_action %></p>

<%= render 'admin/shared/review_or_fact_check' %>
<%= render 'admin/shared/workflow_buttons' %>

<div id="programme-nav" class="publication-nav">
  <ul>
    <li><a href="#edit">Edit</a></li>
    <li><a href="#metadata">Metadata</a></li>
    <li><a href="#history">History &amp; Notes</a></li>
    <li><a href="#admin">Admin</a></li>
  </ul>
  <div id="edit">
    <%= render '/admin/programmes/edit' %>
  </div>
  <div id="metadata">
    <%= render :partial => '/admin/shared/metadata', :locals => {:publication => @resource} %>
  </div>
  <div id="history">
    <%= render :partial => '/admin/shared/history', :locals => {:publication => @resource} %>
  </div>
  <div id="admin">
    <%- if ! @latest_edition.is_published? -%>
    <%= button_to 'Destroy edition', admin_programme_edition_path(@latest_edition.container,@latest_edition), :method => :delete %> !! Only use when edition is broken !!
    <%- end -%>
  </div>
</div>

<% content_for :extra_javascript, javascript_include_tag('/guide-assets/javascripts/publications', '/guide-assets/javascripts/programmes') %>
