<%= render partial: "editions/secondary_nav_tabs/edit/readonly/components/title", locals: { edition: @resource } %>

<%= render partial: "editions/secondary_nav_tabs/edit/readonly/components/meta_tag_description", locals: { edition: @resource } %>

<%= render partial: "editions/secondary_nav_tabs/edit/readonly/components/guide_chapter_list", locals: { edition: @resource } %>

<section>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Is every chapter part of a step by step?",
    heading_level: 3,
    font_size: "s",
  } %>

  <p><%= edition.hide_chapter_navigation ? "Yes" : "No" %></p>
</section>
