<%= f.inputs do %>
  <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
  <%= f.input :body,
              :as => :text,
              :hint => 'The body text is overwritten by the service feedback survey',
              :input_html => { :disabled => 'disabled', class: 'input-md-10' } %>
<% end %>

<%= render partial: 'shared/common_edition_tags', locals: {f: f} %>

<hr />
<div class="row">
  <div class="col-md-8 edition-tags" data-module="checkbox-toggle">
    <h3 class="remove-top-margin">Promote organ donor registration</h3>
    <p class="help-block add-bottom-margin">
      Displays the organ donor registration promotion above the completed transaction satisfaction survey
    </p>

    <div class="form-group">
      <%= f.input :promote_organ_donor_registration,
        as: :boolean,
        input_html: { disabled: @resource.locked_for_edits?, class: "js-checkbox-toggle" },
        wrapper_html: { class: "form-group input-md-8" } %>

      <%= f.input :organ_donor_registration_url,
          required: false,
          input_html: { disabled: @resource.locked_for_edits? },
          wrapper_html: { class: "form-group input-md-8 js-checkbox-toggle-target" } %>
    </div>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
