<table class="table table-striped table-bordered table-condensed" summary="List of &ldquo;Archived&rdquo; content">
  <thead>
    <tr>
      <th scope="col"><%= sortable "_type", "Format" %></th>
      <th scope="col"><%= sortable "business_proposition", "Biz?" %></th>
      <th scope="col"><%= sortable "title" %></th>
      <th scope="col"><%= sortable "updated_at", "Updated" %></th>
      <th scope="col"><%= sortable "assignee", "Assigned to" %></th>
      <th scope="col"><%= sortable "creator", "Created by" %></th>
      <th scope="col"><%= sortable "section" %></th>
      <th scope="col"><%= sortable "archiver", "Archived by" %></th>
      <th scope="col">View</th>
      <th scope="col">Edit</th>
      <th scope="col">New</th>
      <th scope="col">Preview</th>
    </tr>
  </thead>
  <tbody>
    <%= render :collection => @presenter.archived, :partial => 'publication', :locals => {:tab => :archived, :with => with}  %>
  </tbody>
</table>
