<div class="format-controls">
  <%= button_to 'Add new guide', new_admin_guide_path, :method=>:get, :class => 'guide' %>
  <%= button_to 'Add new programme', new_admin_programme_path, :method=>:get, :class => 'programme' %>
  <%= button_to 'Add new answer', new_admin_answer_path, :method=>:get, :class => 'answer' %>
  <%= button_to 'Add new transaction', new_admin_transaction_path, :method=>:get, :class => 'transaction' %>
  <%= button_to 'Add new local transaction', new_admin_local_transaction_path, :method=>:get, :class => 'local-transaction' %>
  <%= button_to 'Add new place thing', new_admin_place_path, :method=>:get, :class => 'place-thing' %>
</div>
