<tr>
  <td>
    <%= image_tag "/images/icon-publisher-#{publication.format.downcase}.png", :alt => publication.class.name.humanize  %>
  </td>
  <td class="title">
    <%= publication.admin_list_title %>

    <span class="version">

      (v.<%= publication.version_number %>)
      <% if publication.has_sibling_in_progress? %>
        (v.<%= publication.sibling_in_progress %> in draft)
      <% end %>
    </span>
  </td>
  <td>
    <% if publication.has_video? %>
      <%= image_tag "/images/icon-publisher-video.png", :alt => "Has video"  %>
    <% end %>
  </td>
  <td class="updated">
    <%= timestamp(publication.updated_at) %>
  </td>

  <td>
    <%= publication.assignee %>
  </td>
    <td>
      <%= publication.creator %>
    </td>
    <td>
      <%= publication.section %>
    </td>
  <td>
    <%= publication.rejected_count %>
  </td>
    <td>
      <%= publication.publisher %>
    </td>
    <td>
      <%= link_to 'View', publication_front_end_path(publication) %>
    </td>
    <td>
      <%#admin_edition_path(publication) %>
      <%= link_to "/admin/editions/#{publication.id}" do %>
        <%= image_tag '/images/icon-publisher-preview-locked.png', :alt => 'Locked edit view for this publication', :title => 'Locked edit view for this publication' %>
      <% end %>
    </td>
  <td>
    <% #duplicate_admin_edition_path(publication) %>
      <%= form_tag "/admin/editions/#{publication.id}/duplicate" do %>
        <%= image_submit_tag '/images/icon-publisher-create-new-edition.png', :alt => 'Create new edition of this publication', :title => 'Create new edition of this publication', :class => 'new-edition' %>
      <% end %>

  </td>
  <td>
      <%= link_to preview_edition_path(publication), {:class => 'preview'} do %>
        <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview this publication', :title => 'Preview this publication', :class => 'preview' %>
      <% end %>
  </td>
</tr>
