<% if with && publication.id.to_s == with %>
<tr id="current">
<% else %>
<tr>
<% end %>
  <td class="icon">
    <%= image_tag "icon-#{publication.format.downcase}.png", :title => publication.format.humanize %>
  </td>
  <td class="title">
    <%= publication.admin_list_title %>

    <% if tab && (tab == :published || tab == :archived) %>
      (Ed.<%= publication.version_number %>)
      <% if publication.subsequent_siblings.first.present? %>
        (Ed.<%= publication.subsequent_siblings.first.version_number %> in <%= publication.subsequent_siblings.first.state.humanize.downcase %>)
      <% end%>
    <% else %>
      (Ed. <%= publication.version_number %>)
    <% end %>

    <% if publication.has_video? %>
      <i class="icon-film" alt="Has video"></i>
    <% end %>
  </td>
  <td>
    <%= timestamp(publication.updated_at) %>
  </td>
  <% if tab && tab == :fact_check %>
  <td>
    <%= timestamp(publication.last_fact_checked_at) %>
  </td>
  <% end %>
  <td>
    <%= publication.assignee %>

    <% if tab && tab == :lined_up %>
    <%= link_to publication.assignee ? ' (change)' : 'assign', edit_edition_path(publication) %>
    <% end %>
  </td>
    <% unless tab && tab == :lined_up %>
    <td>
      <%= publication.creator %>
    </td>
    <% end %>
    <td>
      <%= publication.section %>
    </td>
    <% if tab && tab == :archived %>
    <td>
      <%= publication.archiver %>
    </td>
    <td class="icon">
      <%= link_to publication_front_end_path(publication) do %>
        <i class="icon-share-alt" title="View this publication"></i>
      <% end %>
    </td>
    <td class="icon">
      <%#admin_edition_path(publication) %>
      <%= link_to admin_edition_path(publication) do %>
        <i class="icon-lock" title="Locked view for this publication"></i>
      <% end %>
    </td>
    <% end %>
  <td class="icon">
    <% if tab && tab == :lined_up %>
      <%= form_tag start_work_path(publication) do %>
        <%= hidden_field_tag :start_work, 1 %>
        <%= submit_tag 'Start work', :class => 'btn btn-mini btn-success' %>
      <% end %>
    <% elsif tab and tab == :archived and publication.can_create_new_edition? %>
      <%= form_tag duplicate_admin_edition_path(publication) do %>
        <%= submit_tag 'Create new edition', :class => 'btn btn-mini btn-success' %>
      <% end %>
    <% else %>
      <%= link_to admin_edition_path(publication) do %>
        <i class="icon-edit" title="Edit this publication"></i>
      <% end %>
    <% end %>
  </td>
  <td class="icon">
    <% if publication.safe_to_preview? %>
      <%= link_to preview_edition_path(publication), {:class => 'preview'} do %>
        <i class="icon-eye-open" title="Preview this publication"></i>
      <% end %>
    <% else %>
      <i class="icon-ban-circle" title="Preview disabled for this publication"></i>
    <% end %>
  </td>
</tr>
