<tr>
  <td class="icon">
    <%= image_tag "icon-#{publication.format.downcase}.png", :title => publication.format.humanize %>
  </td>
  <td>
    <%= publication.business_proposition ? 'Y' : 'N' %>
  </td>
  <td>
    <p>
      <%= publication.admin_list_title %>

      &mdash; Ed. <%= publication.version_number %>
      <% if publication.has_sibling_in_progress? %>
      (Ed. <%= publication.sibling_in_progress %> in draft)
      <% end %>

      <% if publication.has_video? %>
        <i class="icon-film" alt="Has video"></i>
      <% end %>
    </p>
  </td>
  <td>
    <%= timestamp(publication.updated_at) %>
  </td>
  <td>
    <%= publication.assignee %>
  </td>
  <td>
    <%= publication.creator %>
  </td>
  <td>
    <%= publication.section %>
  </td>
  <td>
    <%= publication.publisher %>
  </td>
  <td class="icon">
    <%= link_to publication_front_end_path(publication) do %>
      <i class="icon-share-alt" title="View this publication"></i>
    <% end %>
  </td>
  <td class="icon">
    <%#admin_edition_path(publication) %>
    <%= link_to "/admin/editions/#{publication.id}" do %>
      <i class="icon-lock" title="Locked view for this publication"></i>
    <% end %>
  </td>
  <td class="duplicate icon">
    <%= button_to "Create new edition of this publication", duplicate_admin_edition_path(publication) %>
  </td>
  <td class="icon">
    <%= link_to preview_edition_path(publication) do %>
      <i class="icon-eye-open" title="Preview this publication"></i>
    <% end %>
  </td>
</tr>
