<tr class="<%= status_class_for(publication) %>">
  <td>
    <%= image_tag "/images/icon-publisher-#{publication.class.name.downcase}.png", :alt => publication.class.name.humanize  %>
  </td>
  <td class="title">
    <% if tab && tab == :published %>
      <%= publication.published_edition.admin_list_title %>
    <% else %>
      <%= publication.latest_edition.admin_list_title %>
    <% end %>
    <span class="version">
    <% if tab && tab == :published %>
      (v.<%= publication.published_edition.version_number %>)
      <% if publication.has_drafts %>
        (v.<%= publication.latest_edition.version_number %> in draft)
      <% end%>
    <% else %>
      v.<%= publication.latest_edition.version_number %>
    <% end %>
    </span>
  </td>
  <td>
    <% if publication.has_video? %>
      <%= image_tag "/images/icon-publisher-video.png", :alt => "Has video"  %>
    <% end %>
  </td>
  <td class="updated">
    <%= publication.updated_at.strftime("%d/%m/%Y %H:%M") %>
  </td>
  <td>
    <%= publication.latest_edition.assigned_to %>
    
    <% if tab && tab == :lined_up %>
    <%= link_to publication.latest_edition.assigned_to ? ' (edit)' : 'assign', [:admin, publication] %>
    <% end %>
  </td>
    <% unless tab && tab == :lined_up %>
    <td>
      <%= publication.latest_edition.created_by %>
    </td>
    <% end %>
    <td>
      <%= publication.section %>
    </td>
  <td>
    <%= publication.rejected_count %> /
    <%= publication.edition_rejected_count %>
  </td>
    <% if tab && tab == :published %>
    <td>
      <%= publication.published_edition.published_by %>
    </td>
    <td>
      <%= link_to 'View', publication_front_end_path(publication) %>
    </td>
    <td>
      <%= link_to [:admin, publication] do %>
        <%= image_tag '/images/icon-publisher-preview-locked.png', :alt => 'Locked edit view for this publication', :title => 'Locked edit view for this publication' %>
      <% end %>
    </td>
    <% end %>
  <td>
    <% if tab && tab == :lined_up %>
      <%= form_tag start_work_path(publication.latest_edition) do %>
        <%= hidden_field_tag :start_work, 1 %>
        <%= image_submit_tag '/images/icon-publisher-start-work.png', :alt => 'Start work on this publication', :title => 'Start work on this publication', :class => 'start-work' %>
      <% end %>
    <% elsif publication.can_create_new_edition? %>
      <%= form_tag admin_editions_path(publication) do %>
        <%= image_submit_tag '/images/icon-publisher-create-new-edition.png', :alt => 'Create new edition of this publication', :title => 'Create new edition of this publication', :class => 'new-edition' %>
      <% end %>
    <% elsif tab && tab == :published %>
      <%= link_to [:admin, publication] do %>
        <%= image_tag '/images/icon-publisher-edit.png', :alt => 'Edit this draft publication', :title => 'Edit this draft publication' %>
      <% end %>
    <% else %>
      <%= link_to [:admin, publication] do %>
        <%= image_tag '/images/icon-publisher-edit.png', :alt => 'Edit this publication', :title => 'Edit this publication' %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if safe_to_preview?(publication) %>
      <%= link_to preview_edition_path(publication.latest_edition), {:class => 'preview'} do %>
        <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview this publication', :title => 'Preview this publication', :class => 'preview' %>
      <% end %>
    <% else %>
      <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview disabled for this publication', :title => 'Preview disabled for this publication', :class => 'disabled' %>
    <% end %>
  </td>
</tr>
