<tr>
  <td>
    <%= image_tag "/images/icon-publisher-#{publication.class.name.downcase}.png", :alt => publication.class.name.humanize  %>
  </td>
  <td class="<%= publication.class.name.downcase %>">
    <% if tab && tab == :published %>
      <%= publication.published_edition.admin_list_title %>
    <% else %>
      <%= publication.latest_edition.admin_list_title %>
    <% end %>
    <span class="version">
    <% if tab && tab == :published %>
      (v.<%= publication.published_edition.version_number %>)
      <% if publication.has_drafts %>
        (v.<%= publication.latest_edition.version_number %> in draft)
      <% end%>
    <% else %>
      v.<%= publication.latest_edition.version_number %>
    <% end %>
    </span>
  </td>
  <td class="updated">
    <%= publication.updated_at.strftime("%d/%m/%Y %H:%M") %>
  </td>
  <td>
    <%= publication.latest_edition.created_by %>
  </td>

  <!-- <th scope="col">Published By</th> -->
    <% if tab && tab == :published %>
    <td>
      <%= publication.published_edition.published_by %>
    </td>
    <td>
      <%= link_to 'View', publication_front_end_path(publication) %>
    </td>
    <% end %>
  <td>
    <% if publication.can_destroy? %>
    <span class="confirm">
      <%= form_tag [:admin,publication], :method => :delete do %>
        <%= image_submit_tag '/images/icon-publisher-delete.png', :alt => 'Delete this publication', :title => 'Delete this publication' %>
      <% end %>
    </span>
    <% end %>
  </td>
  <td>
    <% if publication.can_create_new_edition? %>
      <%= form_tag admin_editions_path(publication) do %>
        <%= image_submit_tag '/images/icon-publisher-create-new-edition.png', :alt => 'Create new edition of this publication', :title => 'Create new edition of this publication' %>
      <% end %>
    <% elsif tab && tab == :published %>
      <%= link_to [:admin, publication] do %>
        <%= image_tag '/images/icon-publisher-edit.png', :alt => 'Edit this draft publication', :title => 'Edit this draft publication' %>
      <% end %>
    <% else %>
      <%= link_to [:admin, publication] do %>
        <%= image_tag '/images/icon-publisher-edit.png', :alt => 'Edit this publication', :title => 'Edit this publication' %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if safe_to_preview?(publication) %>
      <%= link_to preview_edition_path(publication.latest_edition) do %>
        <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview this publication', :title => 'Preview this publication', :class => 'preview' %>
      <% end %>
    <% else %>
      <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview disabled for this publication', :title => 'Preview disabled for this publication', :class => 'disabled' %>
    <% end %>
  </td>
</tr>