<tr class="<%= status_class_for(publication) %>">
  <td>
    <%= image_tag "/images/icon-publisher-#{publication.format.downcase}.png", :alt => publication.class.name.humanize  %>
  </td>
  <td class="title">
    <%= publication.admin_list_title %>

    <span class="version">
    <% if tab && (tab == :published || tab == :archived) %>
      (v.<%= publication.version_number %>)
      <% if publication.has_sibling_in_progress? %>
        (v.<%= publication.subsequent_siblings.first.version_number %> in <%= publication.subsequent_siblings.first.state.humanize.downcase %>)
      <% end%>
    <% else %>
      v.<%= publication.version_number %>
    <% end %>
    </span>
  </td>
  <td>
    <% if publication.has_video? %>
      <%= image_tag "/images/icon-publisher-video.png", :alt => "Has video"  %>
    <% end %>
  </td>
  <td class="updated">
    <%= timestamp(publication.updated_at) %>
  </td>
  <% if tab && tab == :fact_check %>
  <td>
    <%= timestamp(publication.last_fact_checked_at) %>
  </td>
  <% end %>
  <td>
    <%= publication.assignee %>

    <% if tab && tab == :lined_up %>
    <%= link_to publication.assignee ? ' (change)' : 'assign', edit_edition_path(publication) %>
    <% end %>
  </td>
    <% unless tab && tab == :lined_up %>
    <td>
      <%= publication.creator %>
    </td>
    <% end %>
    <td>
      <%= publication.section %>
    </td>
  <td>
    <%= publication.rejected_count %>
  </td>
    <% if tab && tab == :archived %>
    <td>
      <%= publication.archiver %>
    </td>
    <td>
      <%= link_to 'View', publication_front_end_path(publication) %>
    </td>
    <td>
      <%= link_to admin_edition_path(publication) do %>
        <%= image_tag '/images/icon-publisher-preview-locked.png', :alt => 'Locked edit view for this publication', :title => 'Locked edit view for this publication' %>
      <% end %>
    </td>
    <% end %>
  <td>
    <% if tab && tab == :lined_up %>
      <%= form_tag start_work_path(publication) do %>
        <%= hidden_field_tag :start_work, 1 %>
        <%= image_submit_tag '/images/icon-publisher-start-work.png', :alt => "Start work on this #{publication.class.to_s.humanize}", :title => 'Start work on this #{publication.class.to_s.humanize)}', :class => 'start-work' %>
      <% end %>
    <% elsif tab and tab == :archived and publication.can_create_new_edition? %>
      <%= form_tag duplicate_admin_edition_path(publication) do %>
        <%= image_submit_tag '/images/icon-publisher-create-new-edition.png', :alt => 'Create new edition of this publication', :title => 'Create new edition of this publication', :class => 'new-edition' %>
      <% end %>
    <% else %>
      <%= link_to admin_edition_path(publication) do %>
        <%= image_tag '/images/icon-publisher-edit.png', :alt => 'Edit this publication', :title => 'Edit this publication' %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if publication.safe_to_preview? %>
      <%= link_to preview_edition_path(publication), {:class => 'preview'} do %>
        <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview this publication', :title => 'Preview this publication', :class => 'preview' %>
      <% end %>
    <% else %>
      <%= image_tag '/images/icon-publisher-preview.png', :alt => 'Preview disabled for this publication', :title => 'Preview disabled for this publication', :class => 'disabled' %>
    <% end %>
  </td>
</tr>
