<%= render :partial => 'buttons' %>

<div id="guide-nav" class="tabs">
  <ul>
    <li><a href="#new">In Progress (<%= @drafts.length %>)</a></li>
    <li><a href="#fact-check">Out For Fact Check (<%= @fact_checking.length %>)</a></li>
    <li><a href="#review-requested">Review Requested (<%= @review_requested.length %>)</a></li>
    <li><a href="#published">Published (<%= @published.length %>)</a></li>
    <li><a href="#archive">Archive</a></li>
  </ul>

  <div id="new">
    <table class="formats" summary="List of &ldquo;In Progress&rdquo; content">
      <thead>
        <tr>
          <th scope="col">Format</th>
          <th scope="col">Title</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Created By</th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
          <th scope="col">Preview</th>
        </tr>
      </thead>
      <tbody>
        <%= render :collection => @drafts, :partial => 'publication', :locals => {:tab => :drafts} %>
      </tbody>
    </table>
  </div>
  <div id="fact-check">
    <table class="formats" summary="List of &ldquo;Fact Check Requested&rdquo; content">
      <thead>
        <tr>
          <th scope="col">Format</th>
          <th scope="col">Title</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Created By</th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
          <th scope="col">Preview</th>
        </tr>
      </thead>
      <tbody>
        <%= render :collection => @fact_checking, :partial => 'publication', :locals => {:tab => :drafts} %>
      </tbody>
    </table>
  </div>
  <div id="review-requested">
     <table class="formats" summary="List of &ldquo;Review Requested&rdquo; content">
       <thead>
         <tr>
           <th scope="col">Format</th>
           <th scope="col">Title</th>
           <th scope="col">Last Updated</th>
           <th scope="col">Created By</th>
           <th scope="col">Delete</th>
           <th scope="col">Edit</th>
           <th scope="col">Preview</th>
         </tr>
       </thead>
       <tbody>
         <%= render :collection => @review_requested, :partial => 'publication', :locals => {:tab => :review_requested}  %>
       </tbody>
     </table>
   </div>
  <div id="published">
    <table class="formats" summary="List of &ldquo;Published&rdquo; content">
      <thead>
        <tr>
          <th scope="col">Format</th>
          <th scope="col">Title</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Created By</th>
          <th scope="col">Published By</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">New Edition</th>
          <th scope="col">Preview</th>
        </tr>
      </thead>
      <tbody>
        <%= render :collection => @published, :partial => 'publication', :locals => {:tab => :published}  %>
      </tbody>
    </table>
  </div>
  <div id="archive">
    <table class="formats" summary="List of &ldquo;Local&rdquo; content">
      <thead>
        <tr>
          <th scope="col">Format</th>
          <th scope="col">Title</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Created By</th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
          <th scope="col">Preview</th>
        </tr>
      </thead>
      <tbody>
        <%= render :collection => @archived, :partial => 'publication', :locals => {:tab => :archived}  %>
      </tbody>
    </table>
  </div>

</div>

<%= render :partial => 'buttons' %>

<% content_for :page_title, "Publications dashboard" %>
