<h2 style="color:#f00;">!! <a href="mailto:dev@alphagov.co.uk">Talk to a dev</a> before using any buttons on this tab !!</h2>
<%- if @resource.can_destroy? -%>
<%= button_to "Delete #{@edition.class.to_s.underscore.humanize}", path_for_edition(@resource), :method => :delete, :class => "btn btn-danger" %>
<%- end -%>
<%- if @resource.fact_check? -%>
<%= button_to "Skip Fact Check", skip_fact_check_for_edition(@resource), :method => :post %>
<%- end -%>
<%- if @edition.published? -%>
  
  <%= render partial: "shared/clone_buttons", locals: { edition: @edition, edition_class: AnswerEdition, to_classes: [GuideEdition, ProgrammeEdition, TransactionEdition] } %>
  
  <%= render partial: "shared/clone_buttons", locals: { edition: @edition, edition_class: GuideEdition, to_classes: [AnswerEdition, ProgrammeEdition, TransactionEdition] } %>

  <%= render partial: "shared/clone_buttons", locals: { edition: @edition, edition_class: ProgrammeEdition, to_classes: [AnswerEdition, GuideEdition, TransactionEdition] } %>

  <%= render partial: "shared/clone_buttons", locals: { edition: @edition, edition_class: TransactionEdition, to_classes: [AnswerEdition, GuideEdition, ProgrammeEdition] } %>

<%- end -%>
