<%= hidden_field_tag "return_to", params[:return_to] if params[:return_to] %>
<div class="form-group">
  <label for="edition_assigned_to_id">Assigned to</label>
  <%= f.select :assigned_to_id, enabled_users_select_options, {}, {:class => 'form-control input-md-3', :disabled => @resource.locked_for_edits?, "data-module" => 'assignee-select'} %>
</div>
<%= render partial: 'reviewer_field', locals: { f: f } if @resource.in_review? %>
<%= render partial: 'major_change_fields', locals: { f: f } if @resource.published_edition %>

<div class="form-group">
  <span class="form-label">
    <%= f.label :title %>
  </span>
  <span class="form-wrapper">
    <%= f.text_field :title, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
  </span>
</div>

<div class="form-group checkbox">
  <div class="form-wrapper emphasised-field add-bottom-margin input-md-7">
    <%= f.label :in_beta, class: "control-label" do %>
      <%= f.check_box :in_beta, disabled: @resource.locked_for_edits? %>
      Content is in beta
    <% end %>
  </div>
</div>

<div class="form-group">
  <span class="form-label">
    <%= f.label :overview, "Meta tag description" %>
  </span>
  <span class="form-wrapper">
    <%= f.text_area :overview, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
    <span class="help-block">Some search engines will display this if they cannot find what they need in the main text</span>
  </span>
</div>
