<%= hidden_field_tag "return_to", params[:return_to] if params[:return_to] %>
  <% if current_user.has_editor_permissions?(@resource) %>
    <div class="form-group">
      <label for="edition_assigned_to_id">Assigned to</label>
      <%= f.select :assigned_to_id, enabled_users_select_options, {}, {:class => 'form-control input-md-3', :disabled => @resource.locked_for_edits?, "data-module" => 'assignee-select'} %>
    </div>
  <% end %>
<%= render partial: 'reviewer_field', locals: { f: f } if @resource.in_review? %>
<%= render partial: 'major_change_fields', locals: { f: f } if @resource.published_edition %>

<%= form_group(f, :title, label: "Title") do %>
  <%= f.text_field :title, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
<% end %>

<div class="form-group checkbox">
  <div class="form-wrapper emphasised-field add-bottom-margin input-md-7">
    <%= f.label :in_beta, class: "control-label" do %>
      <%= f.check_box :in_beta, disabled: @resource.locked_for_edits? %>
      Content is in beta
    <% end %>
  </div>
</div>

<%= form_group(f, :overview, label: "Meta tag description", help: "Some search engines will display this if they cannot find what they need in the main text") do %>
  <%= f.text_area :overview, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
<% end %>
