<%= hidden_field_tag "return_to", params[:return_to] if params[:return_to] %>
<div class="form-group">
  <label for="edition_assigned_to_id">Assigned to</label>
  <%= f.collection_select :assigned_to_id, User.enabled.order_by([[:name, :asc]]), :id, :name, {:prompt => "Select someone"}, {:class => 'form-control input-md-3', :disabled => @resource.locked_for_edits?, "data-module" => 'assignee-select'} %>
</div>
<%= render partial: 'major_change_fields', locals: { f: f } if @resource.published_edition %>

<%= f.input :title,
      :input_html => { :disabled => @resource.locked_for_edits?, class: 'input-md-7' } %>

<%= f.input :in_beta,
      as: :boolean,
      label: 'Content is in beta',
      input_html: { disabled: @resource.locked_for_edits? },
      wrapper_html: { class: "emphasised-field form-group add-bottom-margin input-md-7" } %>

<%= f.input :overview,
      :as => :text,
      :label => 'Meta tag description',
      :hint => 'Some search engines will display this if they can&rsquo;t find what they need in the main text',
      :input_html => { :rows => 4, :disabled => @resource.locked_for_edits?, class: 'input-md-7' } %>
