<div class="page-title">
  <h1>
    <%= @resource.title %>
  </h1>
  <span class="lead">
    <span class="label label-default" title="Edition">#<%= @resource.version_number %></span>
    <span class="label label-default" title="Format"><%= @resource.format.underscore.humanize %></span>
    <span class="label label-info" title="Status"><%= @resource.status_text %></span>
  </span>
</div>
<% important_note = @resource.important_note %>
<%= render partial: 'shared/important_note', locals: {important_note: @resource.important_note} %>
<% if @resource.artefact.state == "archived" %>
  <div class="callout callout-danger add-bottom-margin">
    <h2 class="callout-title">You can’t edit this publication</h2>
    <div class="callout-body">
      This content has been unpublished and is no longer available on the website.<br />
      All editions have been archived.
      <% if @resource.retired_format? %>
        <br /><br />
        This content format has been retired.
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'shared/ready_or_review_or_fact_check' %>
<% end %>
