  <div id="version<%= edition.version_number %>" class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" class="panel-title history" href="#body<%= edition.version_number %>">
        <i class="glyphicon glyphicon-smaller-than-text glyphicon-chevron-down add-right-margin"></i> Edition <%= edition.version_number %>
      </a>
      <% if edition.version_number > 1 %>
        <%= link_to "Compare with previous", diff_edition_path(edition), class: "pull-right" %>
      <% end %>
    </div>

    <div class="panel-collapse collapse<% if edition_counter == 0 %> in<% end %>" id="body<%= edition.version_number %>">
      <dl class="panel-body dl-horizontal remove-bottom-margin">
        <% edition.actions.reverse.each do |action| %>
          <dt>
            <%= action.created_at.strftime("%d/%m/%Y") %> <%= action.created_at.strftime("%R") %>
          </dt>
          <dd>
            <strong><%= action.to_s %></strong> by
            <% if action.requester %>
              <%= mail_to action.requester.email, action.requester.name %>
            <% else %>
              GOV.UK Bot
            <% end %>
            <% if action.comment.present? || action.is_fact_check_request? || action.request_type == "assign" %>
              <% if action.comment_sanitized %>
                <div class="alert alert-error alert-block">
                  We found some potentially harmful content in this email which has been automatically removed. Please check the content of the message in case any text has been deleted as well.
                </div>
              <% end %>
              <p>
                <% if action.comment.present? %>
                  <%= simple_format(escape_once(action.comment), {}, :sanitize => false) %>
                <% end %>
                <% if action.is_fact_check_request? && action.email_addresses.present? %>
                  <strong>request sent to:</strong> <%= mail_to action.email_addresses %>
                <% end %>
                <% if action.recipient_id.present? %>
                  <strong>assigned to &rarr;</strong> <%= mail_to action.recipient.email, action.recipient.name %>
                <% end %>
              </p>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
