<div class="modal-dialog">
  <div class="modal-content">
  <header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title"><%= title %></h3>
  </header>

  <%= form_builder.fields_for(inline ? "activity_#{activity}_attributes" : :activity) do |activity_fields| %>
    <div class="modal-body">
      <%= activity_fields.hidden_field :request_type, value: activity %>

      <% if activity == :send_fact_check %>
        <%= activity_fields.input :email_addresses %>

        <%= activity_fields.label :customised_message do %>
          Customised message<abbr title="required">*</abbr>
        <% end %>
        <textarea id="edition_activity_send_fact_check_attributes_customised_message"
                  name="edition[activity_send_fact_check_attributes][customised_message]"
                  class="form-control" cols="60" rows="14"><%= render :template => 'noisy_workflow/request_fact_check', formats: [:text] %></textarea>
      <% else %>
        <%= activity_fields.input :comment, :as => :text, :input_html => { :cols => 60, :rows => 6 } %>
      <% end %>

      <% if activity == :schedule_for_publishing %>
        <%= activity_fields.label :publish_at do %>
          Publish at <abbr title="required">*</abbr>
        <% end %>
        <div class="form-inline">
        <%= activity_fields.time_select :publish_at, {}, { class: 'date form-control' } %>
        &mdash;
        <%= activity_fields.date_select :publish_at, { order: [:day, :month, :year],
          default: Date.tomorrow, start_year: Date.today.year, end_year: Date.today.year.next },
          { class: 'date form-control' } %>
        </div>
      <% end %>
      <p class="help-block add-top-margin remove-bottom-margin">
        <i class="glyphicon glyphicon-exclamation-sign add-right-margin"></i>Changes you’ve made to this edition will also be saved.
      </p>
    </div>

    <footer class="modal-footer remove-top-margin">
      <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
      <%= (inline ? form_builder : activity_fields).submit(title, class: "btn btn-success") %>
    </footer>
    </div>
  <% end %>
</div>
