  <div id="version<%= edition.version_number %>" class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" class="panel-title bold" href="#body<%= edition.version_number %>">
        <i class="glyphicon glyphicon-smaller-than-text glyphicon-chevron-down add-right-margin"></i>Edition <%= edition.version_number %>
      </a>
      <% if edition.version_number > 1 %>
        <%= link_to "Compare with edition #{edition.version_number - 1}",
                    diff_edition_path(edition),
                    class: "pull-right" %>
      <% end %>
    </div>

    <div class="panel-collapse collapse<% if edition_counter == 0 %> in<% end %>" id="body<%= edition.version_number %>">
      <ul class="panel-body list-unstyled remove-bottom-margin">
        <% edition.actions.reverse.each do |action| %>
          <li class="add-bottom-margin add-left-margin">
            <h4>
              <div class="add-label-margin normal">
                <time datetime="<%= action.created_at %>" class="text-muted add-label-margin">
                  <%= action.created_at.to_s(:govuk_date) %>
                </time>
              </div>
              <%= action.to_s %> by
              <% if action.requester %>
                <%= mail_to action.requester.email, action.requester.name %>
              <% else %>
                GOV.UK Bot
              <% end %>
            </h4>
            <% if action.comment.present? || action.is_fact_check_request? || action.request_type == "assign" %>
              <% if action.comment_sanitized %>
                <div class="alert alert-error alert-block">
                  We found some potentially harmful content in this email which has been automatically removed. Please check the content of the message in case any text has been deleted as well.
                </div>
              <% end %>
              <blockquote class="add-left-margin">
                <% if action.comment.present? %>
                  <%= simple_format(escape_once(action.comment), {}, :sanitize => false) %>
                <% end %>
                <% if action.is_fact_check_request? && action.email_addresses.present? %>
                  Request sent to <%= mail_to action.email_addresses %>
                <% end %>
                <% if action.recipient_id.present? %>
                  Assigned to <%= mail_to action.recipient.email, action.recipient.name %>
                <% end %>
              </blockquote>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
