<% if publication.draft? %>
  <%= semantic_bootstrap_nested_form_for(@artefact, :html => { :class => 'artefact', :id => 'edit_artefact'}) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :id, as: :hidden, input_html: { value: @artefact.id } %>
        <%= f.input :slug, :input_html => { :class => "input-md-6" } %>
      </div>
    </div>
    <%= f.submit 'Update metadata', class: "btn btn-success btn-large" %>
    <%= link_to "Add or edit related GOV.UK links and user needs", content_tagger_url(publication), class: "btn btn-primary" %>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-7">
      <% @artefact.attributes.slice('slug', 'language').each do |key, value| %>
        <%= content_tag :label, key.humanize, for: key %>
        <%= text_field_tag key, value, class: "form-control add-bottom-margin", disabled: 'disabled' %>
      <% end %>
    </div>
  </div>
  <%= link_to "Add or edit related GOV.UK links and user needs", content_tagger_url(publication), class: "btn btn-primary" %>
<% end %>
