<% if Edition::PUBLISHING_API_DRAFT_STATES.include? publication.state %>
  <%= form_for(@artefact, :html => { :class => 'artefact', :id => 'edit_artefact'}) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.hidden_field :id, value: @artefact.id %>

        <%= form_group(f, :slug) do %>
          <%= f.text_field :slug, class: "form-control input-md-6" %>
        <% end %>

        <%= form_group(f, :language) do %>
          <%= f.text_field :language, class: "form-control input-md-6" %>
        <% end %>
      </div>
    </div>
    <%= f.submit 'Update metadata', class: "btn btn-success btn-large" %>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-7">
      <% @artefact.attributes.slice('slug', 'language').each do |key, value| %>
        <%= content_tag :label, key.humanize, for: key %>
        <%= text_field_tag key, value, class: "form-control add-bottom-margin", disabled: 'disabled' %>
      <% end %>
    </div>
  </div>
<% end %>
