<div class="row">
  <div class="col-md-7">
    <% publication.attributes.slice('slug', 'kind').each do |key, value| %>
      <%= content_tag :label, key.humanize, for: key %>
      <%= text_field_tag key, value, class: "form-control add-bottom-margin", disabled: 'disabled' %>
    <% end %>
  </div>
</div>

<ul class="list-unstyled">
  <li><%= link_to "Add or edit related GOV.UK links", content_tagger_url(publication)%></li>
  <li><%= link_to "Add user need or mark Welsh content", panopticon_edit_url(publication)%></li>
  <li><%= link_to "Withdraw and redirect content", panopticon_withdraw_url(publication)%></li>
</ul>
