<div class="accordion-group part">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#parts" href="#<%= f.object.slug || 'untitled-part' %>">
      <i class="icon-chevron-down"></i>
      <%= f.object.title.present? ? f.object.title : 'Untitled part' %>
    </a>
  </div>
  <div id="<%= f.object.slug || 'untitled-part' %>" class="accordion-body <% if f.object.valid? %>collapse <% end %>in">
    <div class="accordion-inner">

      <div class="row">

        <%= f.inputs do %>
          <%= f.input :title,
                      :input_html => { :class => 'col-md-12 title', :disabled => @resource.locked_for_edits? },
                      :hint => true,
                      :required => true %>

          <%= f.input :body,
                      :as => :text,
                      :required => true,
                      :input_html => { :class => 'col-md-12', :rows => '25', :disabled => @resource.locked_for_edits? } %>

          <%= f.input :slug,
                      :input_html => { :class => 'col-md-12 slug', :disabled => ! editable },
                      :hint => false,
                      :required => true %>

          <p class="help-block"><i class="icon-info-sign"></i> Eg. title-of-part (no spaces, apostrophes, etc).</p>

          <%= f.input :order, :as => :hidden, :input_html => { :class => 'order', :disabled => !editable } %>

        <% unless @resource.locked_for_edits? %>
          <div class="row">
            <hr>
            <%= f.link_to_remove "Remove this part" %>
          </div><!--/.row -->
        <% end %>
      <% end %>
      </div><!--/.row -->
    </div>
  </div>
</div>
