<%= semantic_bootstrap_nested_form_for @artefact, url: update_related_external_links_edition_path(@resource) do |f| %>
  <div class='alert alert-info'>
    Once saved, related external links will be visible on the site the next time
    this publication is published.
  </div>

  <div class="related-external-links fieldset-section">
    <label class="section-label">Related external links</label><br />
    <%= f.fields_for :external_links do |link| %>
      <div class="nested-item">
        <div class="row relative">
          <div class="col-md-4">
            <%= link.label :title, "Title" %>
            <%= link.text_field :title, class: 'form-control' %>
          </div>
          <div class="col-md-5">
            <%= link.label :url, "URL" %>
            <%= link.text_field :url, class: 'form-control' %>
          </div>
          <%= link.link_to_remove "Remove this URL", :class => "remove-row remove-row-related" %>
        </div>
      </div>
    <% end %>

    <%= f.link_to_add "Add related external link", :external_links, :class => "btn btn-primary" %>
  </div>

  <br/>

  <%= f.submit 'Save links', class: "btn btn-success btn-large" %>
<% end %>
