<%= nested_form_for @artefact, url: update_related_external_links_edition_path(@resource) do |f| %>
  <h2 class="remove-top-margin add-bottom-margin h3">Related external links</h2>

  <div class='alert alert-info'>
    Once saved, related external links will be visible on the site the next time
    this publication is published.
  </div>

  <div class="related-external-links fieldset-section">
    <%= f.fields_for :external_links do |link| %>
      <div class="nested-item">
        <div class="row relative">
          <div class="col-md-4">
            <%= link.label :title, "Title" %>
            <%= link.text_field :title, class: 'form-control' %>
          </div>
          <div class="col-md-5">
            <%= link.label :url, "URL" %>
            <%= link.text_field :url, class: 'form-control' %>
          </div>
          <% unless @resource.retired_format? %>
            <%= link.link_to_remove "Remove this URL", class: "remove-row remove-row-related" %>
          <% end %>
        </div>
      </div>
    <% end %>


    <% unless @resource.retired_format? %>
      <%= f.link_to_add "Add related external link", :external_links, :class => "btn btn-primary" %>
    <% end %>
  </div>

    <% unless @resource.retired_format? %>
      <br/>

      <%= f.submit 'Save links', class: "btn btn-success btn-large" %>
    <% end %>
<% end %>
