<div class="alert alert-info">
  <% if @resource.latest_status_action(Action::REQUEST_REVIEW) %>
    <% if @resource.latest_status_action.requester == current_user %>
      <p>You’ve sent this edition to be reviewed.</p>
      <% if skip_review? %>
        <p><%= build_review_button(@resource, "skip_review", "Skip review").html_safe %></p>
      <% end %>
    <% else %>
      <p><%= @resource.latest_status_action(Action::REQUEST_REVIEW).requester.name %> has sent this edition to be reviewed.</p>
      <div class="workflow-buttons">
        <%= review_buttons(@resource)%>
      </div>
      <% if activity_forms_required? %>
        <%= review_forms(@resource)%>
      <% end %>
    <% end %>
  <% else %>
    <p>We're having trouble accessing the action data. This edition has been sent to be reviewed.</p>
    <div class="workflow-buttons">
      <%= review_buttons(@resource)%>
    </div>
    <%= review_forms(@resource)%>
  <% end %>
</div>
