<%= hidden_field_tag "return_to", params[:return_to] if params[:return_to] %>

<label for="edition_assigned_to_id">Assigned to</label>
<%= f.collection_select :assigned_to_id, User.order_by([[:name, :asc]]).all, :id, :name, {:prompt => "Select someone"}, {:disabled => @resource.locked_for_edits?} %>

<%= f.input :title,
      :input_html => { :class => "span7", :autofocus => true, :disabled => @resource.locked_for_edits? } %>

<%= f.input :alternative_title,
      :label => 'Alternative title',
      :hint => 'Use this where longer title is needed for SEO purposes',
      :input_html => { :class => "span7", :autofocus => true, :disabled => @resource.locked_for_edits? } %>

<%= f.input :overview,
      :as => :text,
      :label => 'Meta tag description',
      :hint => 'Some search engines will display this if they can&rsquo;t find what they need in the main text',
      :input_html => { :class => "span7", :rows => 3, :disabled => @resource.locked_for_edits? } %>
