<div class="navbar navbar-inverse navbar-fixed-bottom text-center">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="workflow-buttons navbar-btn">
        <% if @resource.locked_for_edits? %>
          <%= @resource.error_description %> can't be changed.
          <%= preview_button(@resource) %>
          <% if @resource.can_create_new_edition? %>
            <%= link_to 'Create new edition', duplicate_edition_path(@resource), class: 'btn btn-primary btn-large', method: :post %>
          <% end %>
          <% if @resource.in_progress_sibling.present? %>
            <%= link_to 'Edit existing newer edition', edition_path(@resource.in_progress_sibling), html_options = { "class" => "btn btn-primary btn-large"} %>
          <% end %>
          <%= progress_buttons(@resource, skip_disabled_buttons: true) %>
        <% else %>
          <%= f.submit 'Save', id: 'save-edition', class: 'btn btn-success btn-large' %>
          <%= preview_button(@resource) %>
          <%= progress_buttons(@resource) %>
        <% end %>
      </div>
    </div><!--/.container-fluid -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar -->
