<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="workflow_buttons">
        <% if @resource.locked_for_edits? %>
          <%= @resource.error_description %> can't be changed.
          <%= preview_button(@resource) %>
          <% if @resource.can_create_new_edition? %>
            <%= button_to 'Create new edition', duplicate_edition_path(@resource), html_options = { "class" => "btn btn-primary btn-large"} %>
          <% end %>
          <% if @resource.in_progress_sibling.present? %>
            <%= link_to 'Edit existing newer edition', edition_path(@resource.in_progress_sibling), html_options = { "class" => "btn btn-primary btn-large"} %>
          <% end %>
          <%= progress_buttons(@resource, show_disabled: false) %>
        <% else %>
          <!-- Fake save button -->
          <form id="save-edition">
            <input type="submit" value="Save" class="btn btn-success btn-large">
          </form>

          <%= preview_button(@resource) %>
          <%= progress_buttons(@resource) %>
        <% end %>
      </div>
    </div><!--/.container-fluid -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar -->

<%= progress_forms(@resource) %>
