<%= semantic_bootstrap_nested_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
    <%= render :partial => 'admin/shared/video', :locals => {:f => f} %>
  <% end %>

  <hr>

  <div class="row-fluid">

    <div class="span8">

      <h3>Parts</h3>

      <section class="accordion" id="parts">
        <% tidy_up_parts_before_editing(f.object) %>

        <%= f.semantic_fields_for :parts do |part| %>
          <%= render :partial => '/admin/shared/part', :locals => {:f => part, :editable => ! @resource.published? } %>
        <% end %>
      </section>

      <p><%= f.link_to_add "Add new part", :parts, :data => { :target => "#parts" } %></p>

    </div>

    <div class="span4">
      <h3>Govspeak help</h3>

      <div class="well">
        <%= render "../shared/govspeak_help" %>
      </div>
    </div>

  </div>
<% end %>
