<%= semantic_form_for [:admin, @guide, @latest_edition] do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :introduction %>
  <% end %>

  <h2>Parts</h2>

  <div id="parts">

    <% setup_association(f.object, :parts, :new => 3, :edit => 3) %>

    <%= f.semantic_fields_for :parts do |part| %>
      <%= render :partial => 'part', :locals => {:f => part} %>
    <% end %>

  </div>

  <p class="button"><a href="#" class="add-associated" data-target="parts" data-tmpl_id="tmpl-parts">+ Part</a></p>

  <%= f.buttons %>

  <%= f.add_associated_jquery_template :parts %>
<% end %>

<% content_for :extra_javascript do %>
<script type="text/javascript">
  $(function () { 
    $('input.title').change(function () {
      var elem = $(this);
      var header = elem.closest('fieldset').prev('h3').find('a');
      header.text(elem.val());
    });
    $("#parts").accordion({
    				header: "> div > h3",
    				collapsible: true
    			}).sortable({
    				axis: "y",
    				handle: "h3",
    				stop: function() {
    					stop = true;
    				}
    			});; 
    $('.add-associated').bind('associated-added', function () {
      var active_index = $('#parts div.part').length;
      $('#parts').accordion( "destroy" ).accordion({'collapsible': true, active: active_index - 1});
    });
  });
</script>
<% end %>