<%= semantic_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
    <%= render :partial => 'admin/shared/video', :locals => {:f => f} %>
  <% end %>

  <hr>

  <div class="row-fluid">

    <div class="span8">

      <h3>Parts</h3>

      <section class="accordion" id="parts">
        <% setup_association(f.object, :parts, :new => 1, :edit => 1); f.object.order_parts %>
        <% f.object.parts.replace f.object.parts.sort_by(&:order) %>

        <%= f.semantic_fields_for :parts do |part| %>
          <%= render :partial => '/admin/guides/part', :locals => {:f => part} %>
        <% end %>
      </section>

      <button class="btn btn-success add-associated" data-target="parts" data-tmpl_id="tmpl-parts">Add new part</button>

      <%= f.add_associated_jquery_template :parts, :partial => '/admin/guides/part' %>
      <% end %>

    </div>

    <div class="span4">
      <h3>Govspeak help</h3>

      <div class="well">
        <%= render "../shared/govspeak_help" %>
      </div>
    </div>

  </div>

<% content_for :extra_javascript, javascript_include_tag('application', 'multi-part', 'form-tools', 'jquery.mustache.js') %>
