<% @guide.editions.each do |edition| %>
  <div class="edition">
    <h3>v<%= edition.version_number %></h3>
    <div class="buttons group">
      <%= link_to 'Preview', preview_edition_path(edition) %>
      <%= button_to 'Diff' %>
      <%= button_to 'Diff with latest' %>
    </div>
    <ul class="history">
      <% edition.actions.each do |action| %>
      <li>
        <h4><%= action.friendly_description %></h4>
        <p class="action-time"><%= friendly_date(action.created_at) %></p>
        <% if action.comment.present? %>
        <blockquote class="comment"><%= action.comment %></blockquote>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>