<% @guide.editions.each do |edition| %>
  <div class="edition">
    <h3>v<%= edition.version_number %></h3>
    <div class="buttons">
      <%= button_to 'Preview' %>
      <%= button_to 'Diff' %>
      <%= button_to 'Diff with latest' %>
    </div>
    <ul>
      <% edition.actions.each do |action| %>
      <li>
        <%= action.inspect %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>