<% publication.editions.each do |edition| %>
  <div class="edition">
    <div class="buttons group">
      <h3>v<%= edition.version_number %></h3>
      <div class="check">
        <%= link_to 'Preview', preview_edition_path(edition) %>
        <%= button_to 'Diff' %>
        <%= button_to 'Diff with latest' %>
      </div>
    </div>
    <ul class="history">
      <% edition.actions.each do |action| %>
      <li>
        <p><%= action.request_type %> by <%= action.requester %></p>
        <p class="action-time"><%= action.created_at.strftime("%d/%m/%Y %R") %></p>
        <% if action.comment.present? %>
        <blockquote><%= action.comment %></blockquote>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>