<h3><a href="#">Section</a></h3>
<div class="part">
 
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :excerpt, :as => :text %>
    <%= f.input :body, :as => :text %>
    <%= f.input :slug %>
    <li><%= f.remove_link "Remove" %></li>
  <% end %>
</div>
