<div class="part group">
 <h3><a href="#"><%= f.object.title.present? ? f.object.title : 'Untitled part' %></a></h3>
  <%= f.inputs do %>
    <%= f.input :title, :input_html => { :class => 'title' } %>
    <%= f.input :excerpt, :as => :text %>
    <%= f.input :body, :as => :text %>
    <%= f.input :slug %>
    <%= f.input :order, :as => :hidden, :input_html => { :class => 'order' } %>
    <li><%= f.remove_link "Remove this part" %></li>
  <% end %>
</div>
