<div id="guide-nav">
  <ul>
    <li><a href="#new">New</a></li>
    <li><a href="#published">Published</a></li>
    <li><a href="#archive">Archive</a></li>
    <li><a href="#review-requested">Review Requested</a></li>
  </ul>

  <div id="new">
    <table cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @drafts %>
      </tbody>
    </table>
  </div>

  <div id="published">
    <table cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @published %>
      </tbody>
    </table>
  </div>
  <div id="archive">
    <table cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @archive %>
      </tbody>
    </table>
  </div>
  <div id="review-requested">
    <table cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @review_requested %>
      </tbody>
    </table>
  </div>
</div>

<p class="button" role="button"><%= link_to 'Add new guide', new_admin_guide_path %></p>
<p class="button" role="button"><%= link_to 'Add new answer', new_admin_answer_path %></p>

<% content_for :extra_javascript do %>
<script type="text/javascript">
$(function () { $('#guide-nav').tabs(); });
</script>
<% end %>