<%= render :partial => 'buttons' %>

<div id="guide-nav">
  <ul>
    <li><a href="#new">In Progress (<%= @drafts.length %>)</a></li>
    <li><a href="#review-requested">Review Requested (<%= @review_requested.length %>)</a></li>
    <li><a href="#published">Published (<%= @published.length %>)</a></li>
    <li><a href="#archive">Archive</a></li>
  </ul>

  <div id="new">
    <table class="formats" cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @drafts %>
      </tbody>
    </table>
  </div>
  <div id="review-requested">
     <table class="formats" cellspacing="0">
       <thead>
         <tr>
           <th colspan="2">Title</th>
         </tr>
       </thead>
       <tbody>
         <%= render @review_requested %>
       </tbody>
     </table>
   </div>
  <div id="published">
    <table class="formats" cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @published %>
      </tbody>
    </table>
  </div>
  <div id="archive">
    <table class="formats" cellspacing="0">
      <thead>
        <tr>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody>
        <%= render @archive %>
      </tbody>
    </table>
  </div>
 
</div>

<%= render :partial => 'buttons' %>

<% content_for :extra_javascript do %>
<script type="text/javascript">
$(function () { $('#guide-nav').tabs(); });
</script>
<% end %>