<h2>Viewing Edition <%= @latest_edition.version_number %> of &ldquo;<%= @latest_edition.title %>&rdquo;</h2>

<div id="guide-controls">
  <%= button_to 'Create new edition', admin_guide_editions_path(@guide) %>
  <p><a href="#" class="external">Formatting help</a></p>

  <%= progress_buttons(@guide,@latest_edition) %>

  <!-- Fake save button -->
  <input type="submit" value="Save" class="update">
</div>

<div id="guide-nav">
  <ul>
    <li><a href="#edit">Edit</a></li>
    <li><a href="#metadata">Metadata</a></li>
    <li><a href="#history">History</a></li>
  </ul>
  <div id="edit">
    <%= render 'edit' %>
  </div>
  <div id="metadata">
    <%= render 'metadata' %>
  </div>
  <div id="history">
    <%= render 'history' %>
  </div>
</div>

<% content_for :extra_javascript do %>
<script type="text/javascript" charset="utf-8">
$(function () { $('#guide-nav').tabs(); });
</script>
<% end %>