<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>programme to <%= programme.title %> - www.gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if programme.overview and programme.overview != '' %>
  <meta name="description" content="<%= programme.overview %>">
  <% end %>
</head>
<body>

<div id="wrapper" class="programme">

  <section role="main" class="group">

    <header class="group">

        <hgroup>
          <h1><span>programme to </span><%= programme.title %></h1>
        </hgroup>

    </header>

		<div class="article-and-navigation group">

      <a href="<%= programme_path(programme.slug) %>"><%= programme.parts.first.title %></a>
      <a href="<%= programme_path(programme.slug, programme.parts.last.slug) %>"><%= programme.parts.last.title %></a>

        <article role="article" class="group">
	      <div class="inner">

        <% if part == programme.parts.last %>
            <h2><%= programme.parts.last.title %></h2>
            <%= Govspeak::Document.new(programme.parts.last.body).to_html %>
        <% elsif part == programme.parts.first %>
          <% programme.parts.each do |part| %>
            <% unless part == programme.parts.last %>
              <h2><%= part.title %></h2>
              <%= Govspeak::Document.new(part.body).to_html %>
            <% end %>
          <% end %>
        <% else %>
          <h2><%= part.title %></h2>
          <%= Govspeak::Document.new(part.body).to_html %>
        <% end %>

	      </div>
	    </article>

		</div>

  </section>

</div> <!-- end wrapper -->

</body>
</html>
