<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    <%= programme.alternative_title.nil? ? programme.alternative_title : programme.title %> |
    <% unless programme.section.nil? or programme.section == ''%>
    <%= programme.section %> |
    <% end %>
    Beta.gov.uk
  </title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if programme.overview and programme.overview != '' %>
  <meta name="description" content="<%= programme.overview %>">
  <% end %>
	<script src="<%= asset_host %>/javascripts/jquery.tabs.js" type="text/javascript"></script>
	<script src="<%= asset_host %>/javascripts/jquery.history.js" type="text/javascript"></script>
	<% if programme.has_next_part?(part) %>
	  <script src="<%= asset_host %>/javascripts/programmes.js" type="text/javascript"></script>
  <% end %>
	<!--script src="<%= asset_host %>/javascripts/recently-viewed.js" type="text/javascript"></script-->
</head>
<body>

<div id="wrapper" class="programme">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 
								 <li class="related-topic"><a href="#">More in <span><%= programme.section %></span>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">
      <hgroup>
        <h1><span>Benefits &amp; schemes </span><%= programme.title %></h1>
      </hgroup>
    </header>

		<div class="article-and-navigation group">

			<nav class="programme-switcher group" role="navigation">
				<ul>
          <li<%= ' class="active"' if is_overview %>><a href="<%= programme_path(programme.slug) %>">About and how to claim</a></li>
					<li<%= ' class="active"' unless is_overview %>><a href="<%= programme_path(programme.slug, programme.parts.last.slug) %>"><%= programme.parts.last.title %></a></li>
				</ul>
			</nav>

			<% unless is_overview %>
			  <article role="article" class="group">
          <div class="inner">
            <%= partial(:"_part.html", :part => programme.parts.last) %>
          </div>
			  </article>
      <% else %>
        <nav class="programme-progression group" role="navigation">
				<ol>
			    <% programme.parts.each do |part| %>
			      <% if programme.has_next_part?(part) %>
              <li><a href="#<%= part.slug %>"><%= part.title %><span class="progressor"></span></a></li>
            <% end %>
          <% end %>
        </ol>
  			</nav>
			  <% programme.parts.each do |part| %>
			    <% if programme.has_next_part?(part) %>
					  <article role="article" class="with-parts-nav group" id="<%= part.slug %>">
              <div class="inner">
                <%= partial(:"_part.html", :part => part) %>
								<nav class="part-pagination return-to-top" role="navigation">
									<a href="#wrapper">Return to top &uarr;</a>
								</nav>
              </div>
					  </article>
			    <% end %>
			  <% end %>
			<% end %>

		</div>

  </section>

</div> <!-- end wrapper -->

</body>
</html>
