<%= semantic_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>

    <%= f.inputs "Campaign images" do %>
      <table class="table table-bordered image-upload">
        <tbody>
          <%= render :partial => "admin/campaigns/image_upload", :locals => { :f => f, :format => :small, :size => "320px x 236px" } %>
          <%= render :partial => "admin/campaigns/image_upload", :locals => { :f => f, :format => :medium, :size => "768px x 566px" } %>
          <%= render :partial => "admin/campaigns/image_upload", :locals => { :f => f, :format => :large, :size => "960px x 300px" } %>
        </tbody>
      </table>

    <% end %>
    <hr />

    <%= f.input :body, :as => :text, :input_html => { :class => 'span12', :disabled => @resource.published? } %>
  <% end %>
<% end %>
