<%= semantic_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>

    <%= f.inputs "Campaign image" do %>
      <% if @edition.small_image %>
        <div class="uploaded-image">
          <h4>Current campaign image</h4>
          <p><%= link_to @edition.small_image.name, @edition.small_image.file_url %></p>
          <p><%= label_tag do %>Remove campaign image? <%= check_box_tag "edition[remove_small_image]", "1" %><% end %></p>
        </div>

        <h4>Replace campaign image</h4>
      <% end %>

      <p><%= f.input :small_image, :as => :file, :label => "Upload a new campaign image" %></p>
    <% end %>
    <hr />

    <%= f.input :body, :as => :text, :input_html => { :class => 'span12', :disabled => @resource.published? } %>
  <% end %>
<% end %>
