<%= semantic_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>

    <%= f.inputs "Campaign images" do %>
      <table class="table table-bordered image-upload">
        <tbody>
          <%= render :partial => "admin/campaigns/image_upload", :locals => { :f => f, :format => :small, :size => "320px x 236px" } %>
          <%= render :partial => "admin/campaigns/image_upload", :locals => { :f => f, :format => :medium, :size => "768px x 566px" } %>
          <%= render :partial => "admin/campaigns/image_upload", :locals => { :f => f, :format => :large, :size => "960px x 300px" } %>
        </tbody>
      </table>

    <% end %>
    <hr />

    <%= f.input :organisation_formatted_name,
                :as => :text,
                :label => "Organisation formatted name",
                :input_html => { :class => 'span3', :rows => "4", :disabled => @resource.published? } %>

    <%= f.input :organisation_url,
                :label => "Organisation URL",
                :input_html => { :class => 'span7', :disabled => @resource.published? } %>

    <%= f.input :organisation_crest,
                :as => :select,
                :collection => CampaignEdition::CRESTS,
                :input_html => { :class => 'span7', :disabled => @resource.published? } %>

    <%= f.input :organisation_brand_colour,
                :as => :select,
                :collection => CampaignEdition::BRAND_COLOURS,
                :input_html => { :class => 'span7', :disabled => @resource.published? } %>

    <%= f.input :body,
                :as => :text,
                :input_html => { :class => 'span12', :disabled => @resource.published? } %>

  <% end %>
<% end %>
