<%= semantic_form_for @latest_edition, :url => admin_local_transaction_edition_path(@resource, @latest_edition), :as => :edition do |f| %>
  <%= f.inputs do %>
    <li><p>LGSL code</p><p><%= @resource.lgsl_code %></p></li>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
    <%= f.input :introduction, :label => 'Introductory paragraph', :hint => 'Set the scene for the user. Explain that it\'s the responsibility of the local council and that we\'ll take you there.', :as => :text, :input_html => {:rows => 2, :disabled => @latest_edition.is_published? } %>
    <%= f.input :more_information, :as => :text, :input_html => { :disabled => @latest_edition.is_published? } %>
    <%= f.input :minutes_to_complete, :input_html => { :disabled => @latest_edition.is_published? } %>
    <%= f.input :expectation_ids, :label => "Expectations", :as => :check_boxes, :collection => LocalTransactionEdition.expectation_choices, :input_html => { :disabled => @latest_edition.is_published? } %>
  <% end %>
<% end %>
