<div class="ui-widget-content new">
  <div class="inner">

    <h1>Create new local transaction</h1>

    <p class="intro">Required fields are <strong>bold</strong>.</p>

    <%= semantic_form_for [:admin, @local_transaction] do |f| %>
      <%= f.inputs do %>
        <%= f.input :name,      :hint => true, :input_html => {:autofocus => true} %>
        <%= f.input :lgsl_code, :hint => true, :label => "LGSL code" %>
        <%= f.input :slug,      :hint => true %>
        <%= f.input :tags,      :hint => true %>
      <% end %>

      <%= f.buttons %>
    <% end %>

    
  </div>
</div>

<% content_for :extra_javascript do %>
<%= javascript_include_tag('/guide-assets/javascripts/publications') %>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#local_transaction_name').hasSlugField({field: $('#local_transaction_slug')});
  });
</script>
<% end %>
<% content_for :page_title, "Create new Local Transaction" %>
