<div id="guide-nav" class="ui-tabs ui-widget-content">

  <p class="intro">New guide intro paragraph goes here. Rich should probably write it.</p>

  <%= semantic_form_for [:admin, @answer] do |f| %>
    <%= f.inputs do %>
      <%= f.input :name, :hint => true %>
      <%= f.input :slug, :hint => true %>
      <%= f.input :tags, :hint => true %>
    <% end %>

    <%= f.buttons %>
  <% end %>

  <% content_for :extra_javascript do %>
  <script type="text/javascript" charset="utf-8">
  $(function () {
    $('#answer_name').change(function () {
      if ($('#answer_slug').text() == '') {
        var title = $('#answer_name').val();
        $('#answer_slug').val(GovUKGuideUtils.convertToSlug(title));
      }
    });
  });
  </script>
  <% end %>
</div>
