<h2>Viewing Edition <%= @latest_edition.version_number %> of &ldquo;<%= @answer.title %>&rdquo;</h2>
<p>Status: <%= @latest_edition.latest_status_action %></p>

<%= render 'admin/shared/review_or_fact_check' %>
<%= render :partial => 'admin/shared/workflow_buttons' %>

<div id="answer-nav" class="publication-nav">
  <ul>
    <li><a href="#edit">Edit</a></li>
    <li><a href="#metadata">Metadata</a></li>
    <li><a href="#history">History &amp; Notes</a></li>
  </ul>
  <div id="edit">
    <%= render '/admin/answers/edit' %>
  </div>
  <div id="metadata">
    <%= render :partial => '/admin/shared/metadata', :locals => {:publication => @answer} %>
  </div>
  <div id="history">
    <%= render :partial => '/admin/shared/history', :locals => {:publication => @answer} %>
  </div>
</div>

<% content_for :extra_javascript, javascript_include_tag('/guide-assets/javascripts/publications') %>
<% content_for :page_title, "Editing #{@answer.title}" %>
