<h2>Viewing Edition <%= @latest_edition.version_number %> of &ldquo;<%= @answer.title %>&rdquo;</h2>
<% if @latest_edition.in_review? %>
  <%= render '/admin/guides/review' %>
<% end %>

<div id="guide-controls">
  <!-- <p><a href="#" class="external">Formatting help</a></p> -->
  <span class="workflow_buttons">

  <!-- Fake save button -->
  <form id="save-edition" class="button_to">
  <input type="submit" value="Save" class="update">
  </form>

  <%= progress_buttons(@answer,@latest_edition) %>
  <%= preview_button(@latest_edition) %>

  </span>
  <%= progress_forms(@answer,@latest_edition) %></div>

<div id="answer-nav" class="publication-nav">
  <ul>
    <li><a href="#edit">Edit</a></li>
    <li><a href="#metadata">Metadata</a></li>
    <li><a href="#history">History</a></li>
  </ul>
  <div id="edit">
    <%= render '/admin/answers/edit' %>
  </div>
  <div id="metadata">
    <%= render :partial => '/admin/shared/metadata', :locals => {:publication => @answer} %>
  </div>
  <div id="history">
    <%= render :partial => '/admin/shared/history', :locals => {:publication => @answer} %>
  </div>
</div>

<% content_for :extra_javascript, javascript_include_tag('/guide-assets/javascripts/publications') %>
<% content_for :page_title, "Editing #{@answer.title}" %>
