<p>Viewing Edition <%= @latest_edition.version_number %></p>
<%= button_to 'Create new Edition', admin_answer_editions_path(@answer) %>

<div id="answer-nav">
  <ul>
    <li><a href="#edit">Edit</a></li>
    <li><a href="#metadata">Metadata</a></li>
    <li><a href="#history">History</a></li>
  </ul>
  <div id="edit">
    <%= render 'edit' %>
  </div>
  <div id="metadata">
    <%= render :partial => '/admin/guides/metadata', :locals => {:publication => @answer} %>
  </div>
  <div id="history">
    <%= render :partial => '/admin/guides/history', :locals => {:publication => @answer} %>
  </div>
</div>

<% content_for :extra_javascript do %>
<script type="text/javascript" charset="utf-8">
$(function () { $('#answer-nav').tabs(); });
</script>
<% end %>