<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= place.title %> - Beta.Gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/guides.css" />
  <% if place.overview and place.overview != '' %>
  <meta name="description" content="<%= place.overview %>">
  <% end %>
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.base64.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/core.js"></script>
  <script type="text/javascript" src="/javascripts/geo.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.mustache.js"></script>
</head>
<body>

<div id="wrapper" class="place">
  <%= partial :'_location_header.html' %>
  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><%= place.title %></h1>
          <p class="modified-date">Last updated: <%= place.updated_at.strftime("%m/%d/%Y") %></p>
        </hgroup>

        <div class="related">
          <div class="inner" class="group">
            <h2>Related tools &amp; topics</h2>
            <nav role="navigation">
              <ul>
                <li><a href="#">Know my rights about my payslip</a></li>
                <li><a href="#">The age children can start work</a></li>
                <li><a href="#">When you can start work</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div class="intro">
          <p><%= place.introduction %></p>
        </div>

        <div class="more">
          <h2>More about this service</h2>
          <%= Govspeak::Document.new(place.more_information || "").to_html %>
        </div>
        
        <form class="app-form" method="get">
        <fieldset class="postcode">
          <div class="ask_location <%= geo_known_to_at_least?('ward') ? 'removing' : '' %>">
            <label class="legend" for="user-postcode">Enter a UK postcode</label>    
            <div>
              <input name="postcode" id="user-postcode" type="text" value="" placeholder="e.g. SW1A 2AA">
              <input type="submit" name="submit" value="Go">
            </div>
          </div>
          <div class="finding_location hidden">
            <p>Locating you&hellip;<input type="hidden" name="lon" value="<%= geo_known_to_at_least?('ward') ? geo_header['fuzzy_point']['lon'] : '' %>"><input type="hidden" name="lat" value="<%= geo_known_to_at_least?('ward') ? geo_header['fuzzy_point']['lat'] : '' %>"></p>
          </div>
          <div class="found_location <%= geo_known_to_at_least?('ward') ? '' : 'hidden' %>">
            <h3 class="friendly-name"><%= geo_header['friendly_name'] if geo_known_to_at_least?('ward') %></h3>
            <p><a class="change-location" href="#"><%= "Not in <span class=\"friendly-name\">#{geo_header['friendly_name']}</span>?" if geo_known_to_at_least?('ward') %></a></p>
          </div>
        </fieldset>
        </form> 
        
        
        <h3>Your Options Are...</h3>

        <ol id="options">
          <% if options.any? %>
          <%= mustache_partial '_option.html', {'options' => options} %>
          <% else %>
          <li>Loaded once we know your location...</li>
          <% end %>
        </ol>
      </div>
    </article>

    <% if place.expectations.any? %>
    <aside>
      <ul class="helpers">
        <% place.expectations.each do |e| %>
            <li class="<%= e['css_class'] %>">
              <%= e['text'] %>
            </li>
        <% end %>
        </ul>
    </aside>
    <% end %>

  </section>

  <%= partial :'_locator.html' %>

  <script id="option-template" type="text/x-mustache-template">
  <%= File.read(File.expand_path('_option.html.mustache', File.dirname(__FILE__))) %>
  </script>

  <script>

  $(document).ready(function() {

      $('#global-locator-form').locator ({
          ignore_location_known_on_page_load: false, 
          error_area_selector: '#global-locator-error'
      });

      var remove_existing_location_data = function() {
        $("#options").html('<li>Dependent on your location!</li>');
      }

      var show_known_location = function(current_location) {
        //show correct message
        $(".found_location").addClass('set').removeClass('removing').show();
        $(".ask_location").addClass('removing').removeClass('set').hide();
        $('#location-set-message').show();
        $('#location-unset-message').hide();
        $(".friendly-name").html(current_location.locality);
      };

      var show_unknown_location = function() {
        $(".found_location").addClass('removing').removeClass('set').hide();
        $(".ask_location").addClass('set').removeClass('removing').show();
        $(".friendly-name").html("");
        //show correct message
        $('#location-set-message').hide();
        $('#location-unset-message').show();

        //delete cookie
      }

      var open_location_dialog = function() {
        $('#global-locator').show();
        $('#global-locator-form').trigger('reset-locator-form');
      };
      
      var load_new_locations = function() {
        var the_href = window.location.origin + window.location.pathname + ".json"
        $.getJSON(the_href, function (data) {
          $('#options').html($.mustache($('#option-template').html(), {options: data}));
        });
      }

      $('#global-locator .close').click(function() {
        $('#global-locator').hide();
        return false;
      });

      // Event handlers
      $('.change-location').click(function() {
        open_location_dialog();
        return false;
      });

      $('.explain-location').click(function() {
        open_location_dialog();
        return false;
      });

      $('#forget-location').click(function() {
        $(document).trigger('location-removed');
        return false;
      });

      $(document).bind('location-removed', function(e, message) {
        show_unknown_location();
        remove_existing_location_data();
        AlphaGeo.deleteGeoCookie();
      });

      $(document).bind('location-known', function(e, data) {
        load_new_locations();
        show_known_location(data.current_location);
      });

      $(document).bind('location-changed', function(e, data) {
        $('#global-locator').hide();
        $("#global-user-location").addClass('set');
        show_known_location(data.current_location);
        remove_existing_location_data();
      });
      
      $("#global-locator-form").attr('action', '/locator.json');
    });
    </script>
    <style type="text/css" media="screen">
      .removing { display: none; }
    </style>
</div> <!-- end wrapper -->

</body>
</html>
