<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= place.title %> - www.gov.uk</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if place.overview and place.overview != '' %>
  <meta name="description" content="<%= place.overview %>">
  <% end %>
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.base64.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/core.js"></script>
  <script type="text/javascript" src="/javascripts/geo.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.mustache.js"></script>
</head>
<body>

<div id="wrapper" class="transaction nearest">
  <%= partial :'_location_header.html' %>

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 <li><a href="#" class="guide">Know my rights about my payslip</a></li>
                 <li><a href="#" class="answer">The age children can start work</a></li>
                 <li><a href="#" class="answer">When you can start work</a></li>
								 <li class="related-topic"><a href="#">More in <span>Cow-Tipping</span>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

	<section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><span>Find My Nearest</span> <%= place.title %></h1>
        </hgroup>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div class="find-nearest">
          <% unless options.any? %>
          <p class="intro"><%= place.introduction %></p>
          <% end %>

          <form method="get">
          <fieldset>
            <legend class="visuallyhidden">Postcode lookup</legend>

            <div class="ask_location <%= geo_known_to_at_least?('ward') ? 'removing' : '' %>">
              <label for="user-postcode">Enter a UK postcode <input id="user-postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
              <input type="submit" value="Get started →">
            </div>

            <div class="finding_location hidden">
              <p>Locating you&hellip;<input type="hidden" name="lon" value="<%= geo_known_to_at_least?('ward') ? geo_header['fuzzy_point']['lon'] : '' %>"><input type="hidden" name="lat" value="<%= geo_known_to_at_least?('ward') ? geo_header['fuzzy_point']['lat'] : '' %>"></p>
            </div>
            <div class="found_location <%= geo_known_to_at_least?('ward') ? '' : 'hidden' %>">
              <p class="friendly-name">We think you&rsquo;re in <strong><%= geo_header['friendly_name'] if geo_known_to_at_least?('ward') %></strong>. <a class="change-location" href="#"><%= "Not in <span class=\"friendly-name\">#{geo_header['friendly_name']}</span>?" if geo_known_to_at_least?('ward') %></a></p>
            </div>
          </fieldset>
          </form>
        </div>

        <% if options.any? %>
        <h3>Your nearest options are...</h3>
        <ol id="options">
          <%= mustache_partial '_option.html', {'options' => options} %>
        <% end %>
        </ol>

        <% if place.expectations.any? %>
          <h3>You will need:</h3>
          <ul class="helpers group">
          <% place.expectations.each do |e| %>
            <li class="<%= e['css_class'] %>">
              <%= e['text'] %>
            </li>
          <% end %>
          </ul>
        <% end %>

        <div class="more">
          <h2>More about this service</h2>
          <%= Govspeak::Document.new(place.more_information || "").to_html %>
        </div>

  			<div class="meta-data">
          <p class="modified-date">Last updated: <%= place.updated_at.strftime("%d %B %Y") %></p>
  			</div>

      </div>
    </article>

  </section>

  <%= partial :'_locator.html' %>

  <script id="option-template" type="text/x-mustache-template">
  <%= File.read(File.expand_path('_option.html.mustache', File.dirname(__FILE__))) %>
  </script>

  <script>

  $(document).ready(function() {

      $('#global-locator-form').locator ({
          ignore_location_known_on_page_load: false,
          error_area_selector: '#global-locator-error'
      });

      var remove_existing_location_data = function() {
        $("#options").html('<li>Dependent on your location!</li>');
      }

      var show_known_location = function(current_location) {
        //show correct message
        $(".found_location").addClass('set').removeClass('removing').show();
        $(".ask_location").addClass('removing').removeClass('set').hide();
        $('#location-set-message').show();
        $('#location-unset-message').hide();
        $(".friendly-name").html(current_location.locality);
      };

      var show_unknown_location = function() {
        $(".found_location").addClass('removing').removeClass('set').hide();
        $(".ask_location").addClass('set').removeClass('removing').show();
        $(".friendly-name").html("");
        //show correct message
        $('#location-set-message').hide();
        $('#location-unset-message').show();

        //delete cookie
      }

      var open_location_dialog = function() {
        $('#global-locator').show();
        $('#global-locator-form').trigger('reset-locator-form');
      };

      var load_new_locations = function() {
        var the_href = window.location.origin + window.location.pathname + ".json"
        $.getJSON(the_href, function (data) {
          $('#options').html($.mustache($('#option-template').html(), {options: data}));
        });
      }

      $('#global-locator .close').click(function() {
        $('#global-locator').hide();
        return false;
      });

      // Event handlers
      $('.change-location').click(function() {
        open_location_dialog();
        return false;
      });

      $('.explain-location').click(function() {
        open_location_dialog();
        return false;
      });

      $('#forget-location').click(function() {
        $(document).trigger('location-removed');
        return false;
      });

      $(document).bind('location-removed', function(e, message) {
        show_unknown_location();
        remove_existing_location_data();
        AlphaGeo.deleteGeoCookie();
      });

      $(document).bind('location-known', function(e, data) {
        load_new_locations();
        show_known_location(data.current_location);
      });

      $(document).bind('location-changed', function(e, data) {
        $('#global-locator').hide();
        $("#global-user-location").addClass('set');
        show_known_location(data.current_location);
        remove_existing_location_data();
      });

      $("#global-locator-form").attr('action', '/locator.json');
    });
    </script>
    <style type="text/css" media="screen">
      .removing { display: none; }
    </style>
</div> <!-- end wrapper -->

</body>
</html>
