<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    <%= local_transaction.alternative_title.nil? ? local_transaction.alternative_title : local_transaction.title %> |
    <% unless local_transaction.section.nil? or local_transaction.section == ''%>
    <%= local_transaction.section %> |
    <% end %>
    Beta.gov.uk
  </title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if local_transaction.overview and local_transaction.overview != '' %>
  <meta name="description" content="<%= local_transaction.overview %>">
  <% end %>
</head>
<body>

<div id="wrapper" class="transaction local">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 <%= local_transaction.related_items %>
								 <li class="related-topic"><a href="#">More in <span><%= local_transaction.section %></span>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><span>Local Services</span> <%= local_transaction.title %></h1>
        </hgroup>
      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div class="intro">

          <p>We think this service is provided to you by the <strong><%= local_transaction.authority.name %></strong> site.</p>

          <p class="get-started"><a href="<%= local_transaction.authority.lgils.last.url %>" rel="external" title="Begin <%= local_transaction.title %> on the <%= local_transaction.authority.name %> site in a new browser window" class="button">Get started &rarr;</a></p>

          <p>This will continue
            on <a href="<%= local_transaction.authority.lgils.last.url %>" title="Begin <%= local_transaction.title %>"><%= local_transaction.authority.lgils.last.url %></a>.</p>
          <p><em>How this service works may vary from council to council.</em></p>

        </div>

        <h2>About this service</h2>

        <div class="more">
          <ul class="helpers group">
          <% local_transaction.expectations.each do |e| %>
            <li class="<%= e.css_class %>">
              <%= e.text %>
            </li>
          <% end %>
          </ul>

          <%= Govspeak::Document.new(local_transaction.more_information || "").to_html %>
        </div>

      </div>

			<div class="meta-data">
				<p class="modified-date">Last updated: <%= local_transaction.updated_at.strftime("%d %B %Y") %></p>
				<ul class="api-links">
          <li class="json"><a href="http://<%= settings.api_host %>/<%= local_transaction.slug %>/all.json">JSON</a></li>
        </ul>
			</div>

    </article>

  </section>

</div> <!-- end wrapper -->

</body>
</html>
