<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    <%= local_transaction.alternative_title.nil? ? local_transaction.alternative_title : local_transaction.title %> |
    <% unless local_transaction.section.nil? or local_transaction.section == ''%>
    <%= local_transaction.section %> |
    <% end %>
    Beta.gov.uk
  </title>
  <link rel="stylesheet" type="text/css" href="<%= asset_host %>/stylesheets/publisher.css" />
  <% if local_transaction.overview and local_transaction.overview != '' %>
  <meta name="description" content="<%= local_transaction.overview %>">
  <% end %>
</head>
<body>

<div id="wrapper" class="transaction local">

	<!-- naughty related position hack -->
	<div class="related-positioning naughty">
		<div class="related-container naughty">
			<div class="related-container-two naughty">
	   		<div class="related">
			     <div class="inner" class="group">
			       <h2>Related tools &amp; topics</h2>
			       <nav role="navigation">
			         <ul>
                 <%= local_transaction.related_items %>
								 <li class="related-topic"><a href="#">More in <span><%= local_transaction.section %></span>&hellip;<span class="arrow"></span></a></li>
			         </ul>
			       </nav>
			     </div>
			   </div><!-- end .related -->
			</div>
		</div>
	</div>
	<!-- end naughty related position hack -->

  <section role="main" class="group">

    <header class="group">
      <div class="inner">

        <hgroup>
          <h1><span>Local Services</span> <%= local_transaction.title %></h1>
        </hgroup>

      </div>
    </header>

    <article role="article" class="group">
      <div class="inner">

        <div class="find-nearest">

          <p class="intro"><%= local_transaction.introduction %></p>

          <form action="<%= form_action_path(local_transaction.slug) %>" method="POST">

            <fieldset>
              <legend class="visuallyhidden">Postcode lookup</legend>
              <label for="postcode">Enter a UK postcode <input id="postcode" name="postcode" type="text" placeholder="e.g. SW1A 2AA"></label>
              <input type="submit" value="Get started →">
            </fieldset>

          </form>
        </div>

        <h2>You will need:</h2>

        <ul class="helpers group">
          <% local_transaction.expectations.each do |e| %>
              <li class="<%= e.css_class %>">
                <%= e.text %>
              </li>
          <% end %>
          </ul>

        <div class="more">
          <h2>More about this service</h2>
          <%= Govspeak::Document.new(local_transaction.more_information || "").to_html %>
        </div>

        <% if local_transaction.minutes_to_complete %>
          <p>This is probably going to take you <%= local_transaction.minutes_to_complete %> minutes</p>
        <% end %>

      </div>

			<div class="meta-data">
				<p class="modified-date">Last updated: <%= local_transaction.updated_at.strftime("%d %B %Y") %></p>
				<ul class="api-links">
          <li class="json"><a href="http://<%= settings.api_host %>/<%= local_transaction.slug %>/all.json">JSON</a></li>
        </ul>
			</div>

    </article>

  </section>

</div> <!-- end wrapper -->

</body>
</html>
