<div class="broken-links-report">
  <% if !report.present? %>
    <section class="alert alert-info alert-link-info">
      <p>Check this edition for broken links. The report will take a few moments to complete. It only runs against GovSpeak fields.</p>
      <noscript>
        <p>Please save ensure you have saved your changes before running a link check.</p>
      </noscript>
      <%= render 'link_check_reports/form', edition: edition, button_text: 'Check for broken links' %>
    </section>
  <% elsif report.in_progress? %>
    <section class="alert alert-info alert-link-info">
      Broken link report in progress.<br />Please wait.
      <%= link_to "Refresh",
                  link_check_report_path(report.id, edition_id: edition.id),
                  class: 'js-broken-links-refresh js-hidden',
                  remote: true %>
    </section>
  <% elsif report.broken_links.any? || report.caution_links.any? %>
    <section class="alert alert-warning">
      <h3 class="remove-top-margin">Links</h3>
      <% report.links.sort_by(&:status).group_by(&:status).each do |status, links| %>
        <% next unless %w(broken caution).include? status %>
        <p class="issue-status-description"><%= status.capitalize %></p>
        <ul class="issue-list">
          <% links.each do |link| %>
            <li>
              <%= link_to link.uri.truncate(50), link.uri, title: link.uri, class: 'link-inherit' %>
              <details>
                <summary class="display-issue-details">See more details about this link</summary>
                <p class="issue-summary"><%= link.problem_summary %></p>
                <% if link.suggested_fix %>
                  <p class="issue-summary">Suggested fix: <%= link.suggested_fix %></p>
                <% end %>
              </details>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= render 'link_check_reports/form', edition: edition, button_text: 'Check again' %>
    </section>
  <% else %>
    <section class='alert alert-success'>
      <p><span class="glyphicon glyphicon-ok add-right-margin"></span> This edition contains no broken links.</p>
      <%= render 'link_check_reports/form', edition: edition, button_text: 'Check again' %>
    </section>
  <% end %>
</div>
