<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>

      <%= form_group(f, :licence_identifier, label: "Licence identifier") do %>
        <%= f.text_field :licence_identifier, disabled: @resource.locked_for_edits?, class: "input-md-3 form-control" %>
      <% end %>

      <%= form_group(f, :will_continue_on, help: "Text to follow the statement 'This will continue on. eg. \"the HMRC website\"'") do %>
        <%= f.text_field :will_continue_on, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :continuation_link, label: "Link to competent authority", help: "Link as deep as possible.") do %>
        <%= f.text_field :continuation_link, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :licence_short_description, help: "One line curated description, will appear in Licence Finder results") do %>
        <%= f.text_area :licence_short_description, rows: 2, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :licence_overview) do %>
        <%= f.text_area :licence_overview, rows: 20, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control" %>
      <% end %>
    </fieldset>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
