<h2>New Licence</h2>

<p>We need a bit more information to create your licence.</p>

<% if @publication.errors.any? %>
<p>Errors: <%= @publication.errors.full_messages.uniq.to_sentence %></p>
<% end %>

<%= semantic_form_for(@publication, :url => editions_path, :as => :edition, :html => { :id => 'edition-form' } ) do |f| %>
  <%= f.inputs :licence_identifier %>
  <%= f.inputs do %>
    <input type="hidden" name="edition[kind]" value="licence">
    <%= f.input :panopticon_id, :as => :hidden %>
    <%= f.input :title, :as => :hidden %>
    <%= f.input :slug, :as => :hidden %>
    <%= f.input :section, :as => :hidden %>
    <%= f.input :department, :as => :hidden %>
  <% end %>
  <%= f.buttons %>
<% end %>

