<%= content_for :page_title, "New Licence" %>

<div class="page-header">
  <h1>New Licence</h1>
</div>

<p class="alert alert-info">
  We need a bit more information to create your licence.
</p>

<%= render :partial => 'shared/legacy_error_summary', locals: { object: @publication } %>

<%= form_for(@publication, :url => editions_path, :as => :edition, :html => { :id => 'edition-form' } ) do |f| %>
  <%= form_group(f, :licence_identifier) do %>
    <%= f.text_field :licence_identifier, class: "form-control" %>
  <% end %>

  <fieldset class="inputs">
    <input type="hidden" name="edition[kind]" value="licence">
    <%= f.hidden_field :panopticon_id %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :slug %>
  </fieldset>
  <%= f.submit "Create Licence edition", class: 'btn btn-success' %>
<% end %>
