<div class="page-header">
  <h1>New Licence</h1>
</div>

<p class="alert alert-info">
  We need a bit more information to create your licence.
</p>

<% if @publication.errors.any? %>
   <p class="alert alert-danger">
     Errors: <%= @publication.errors.full_messages.uniq.to_sentence %>
   </p>
<% end %>

<%= form_for(@publication, :url => editions_path, :as => :edition, :html => { :id => 'edition-form' } ) do |f| %>
  <div class="form-group">
    <span class="form-label">
      <%= f.label :licence_identifier %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :licence_identifier, class: "form-control" %>
    </span>
  </div>

  <fieldset class="inputs">
    <input type="hidden" name="edition[kind]" value="licence">
    <%= f.hidden_field :panopticon_id %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :slug %>
  </fieldset>
  <%= f.submit "Create Licence edition", class: 'btn btn-success' %>
<% end %>
