<div class="conditions">
  <%= o.semantic_fields_for :conditions, :wrapper_class => "outcome-wrap condition" do |c| %>
      IF
      <%= c.input :slug, :as => :hidden, :input_html => { :class => "previous-question-id" } %>
      <select class="form-control required previous-question-list" name="previous-question-list">
        <option value="" class="default">Select a question..</option>
      </select>
      ==
      <%= c.input :label, :label => false, :input_html => { :placeholder => "Label", :class => "condition-label" } %>
      <i class="glyphicon glyphicon-arrow-right add-left-margin add-right-margin"></i>
      <%= c.input :next_node, :as => :hidden, :input_html => { :class => "next-node-id" } %>
      <select class="form-control required next-node-condition-list" name="next-node-condition-list">
        <option value="" class="default">Select a node..</option>
        <optgroup label="Questions" class="question-list"></optgroup>
        <optgroup label="Outcomes" class="outcome-list"></optgroup>
      </select>
      <%= c.link_to_remove "<i class=\"glyphicon glyphicon-remove glyphicon-smaller-than-text add-right-margin\"></i>Remove condition".html_safe, :class => "btn btn-default .remove_condition_button"  %>
    <% end %>
    <%= o.link_to_add "<i class=\"glyphicon glyphicon-plus\"></i> Add a condition".html_safe, :conditions, :class => "btn btn-primary .add_condition_button" %>
</div>
