<%= semantic_bootstrap_nested_form_for @resource, :url => edition_path(@resource),
  :as => :edition, :html => { :class => 'no-auto-save', :id => 'edition-form' } do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'shared/title_etc', :locals => {:f => f} %>
    <%= f.input :body, :as => :text, :input_html => { :class => 'span7', :rows => 5, :disabled => @resource.locked_for_edits? } %>
  <% end %>

  <div class="builder-container">
    <div class="nodes" id="nodes">
      <%# We need to output questions followed by outcomes but the potential for unsaved (invalid) nodes rules out the user of database ordering. So we must instead sort the collection by node order ascending (a.order <=> b.order) within node kind descending (b.kind <=> a.kind). %>
      <%= f.semantic_fields_for :nodes, @resource.nodes.sort {|a,b| [b.kind, a.order] <=> [a.kind, b.order] }, :wrapper_class => lambda {|n| return "row node #{n.kind}" } do |node| %>
        <%= render :partial => "simple_smart_answers/node", :locals => { :f => node } %>
      <% end %>
    </div>

    <hr>

    <div class="row">
      <div class="span8">
        <%= f.link_to_add "<i class=\"icon-plus-sign icon-white\"></i> Add question".html_safe, :nodes, :class => "btn btn-primary add-question", :data => { :target => "#nodes" } %>
        <%= f.link_to_add "<i class=\"icon-plus-sign icon-white\"></i> Add outcome".html_safe, :nodes, :class => "btn btn-danger add-outcome", :data => { :target => "#nodes" } %>
      </div>
    </div>
  </div>

<% end %>

<% content_for :extra_javascript do %>
  <script type="text/javascript">
  <!--
    Publisher.smartAnswerBuilder.init();
  -->
  </script>
<% end %>
