<div class="col-md-10">
  <legend class="add-bottom-margin">
    <span class="node-label bold"><%= f.object.slug.to_s.titleize %></span>
    <%= f.link_to_remove "<i class=\"glyphicon glyphicon-remove glyphicon-smaller-than-text add-right-margin\"></i> <span class=\"remove-node-label\"> Remove #{f.object.kind} </span>".html_safe , :class => "btn btn-default pull-right remove-node" %>
  </legend>
  <%= f.hidden_field :order, class: "node-order" %>

  <div class="form-group">
    <div class="form-wrapper">
      <%= f.label :title, "Title" %>
      <%= form_errors(f.object.errors[:title], "title") %>
      <%= f.text_field :title, class: "node-title form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="form-wrapper">
      <%= f.label :body, "Optional extra information" %>
      <%= f.text_area :body, rows: 10, class: "node-body form-control", data: {
        module: "paste-html-to-govspeak",
      } %>
    </span>
  </div>

  <%= f.hidden_field :kind, class: "node-kind" %>
  <%= f.hidden_field :slug, class: "node-slug" %>
  <% unless f.object.kind == "outcome" %>
    <div class="options">
      <%= f.fields_for :options, :wrapper_class => "outcome-wrap option" do |o| %>
        <div class="form-inline form-group<%= o.object.errors.empty? ? "" : " error" %>">
          <div class="row">
            <div class="form-group col-md-3">
              <%= f.label :label, "Answer #{o.index.to_i + 1}",for: "edition_nodes_attributes_#{o.options[:parent_builder].index}_options_attributes_#{o.index}_label" %>
              <%= form_errors(o.object.errors[:label], "label") %>
              <%= o.text_field :label, class: "option-label form-control" %>
            </div>

            <div class="form-group col-md-6">
              <%= f.label :next_node, "Next question for user", for: "edition_nodes_attributes_#{o.options[:parent_builder].index}_options_attributes_#{o.index}_node" %>
              <%= o.hidden_field :order, :value => o.index.to_i + 1 %>
              <%= o.hidden_field :next_node, class: "next-node-id" %>
              <%= form_errors(o.object.errors[:next_node], "node") %>
              <select id="edition_nodes_attributes_<%= o.options[:parent_builder].index %>_options_attributes_<%= o.index %>_node" class="form-control required next-node-list" name="next-node-list">
                <option value="" class="default">Select a node..</option>
                <optgroup label="Questions" class="question-list"></optgroup>
                <optgroup label="Outcomes" class="outcome-list"></optgroup>
              </select>
            </div>

            <div class="form-group col-md-3">
              <%= o.link_to_remove "<i class=\"glyphicon glyphicon-remove glyphicon-smaller-than-text add-right-margin\"></i> Remove answer".html_safe, :class => "btn btn-default pull-right remove-option" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= f.link_to_add "<i class=\"glyphicon glyphicon-plus\"></i> Add answer".html_safe, :options, :class => "btn btn-primary" %>
    </div>
  <% end %>
  <hr/>
</div>
