<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @guide.title %></p>
    <p><%= @action.friendly_description %> by <%= @action.requester %></p>
    <p>
    <% if @action.friendly_description == 'Published.' %>
      <a href="<%= "#{ExternalServices.front_end_host}/#{@action.edition.container.slug}" %>">View it live</a>
    <% else %>
      <a href="<%= "#{ExternalServices.front_end_host}/#{@action.edition.container.slug}?edition=#{@action.edition.version_number}" %>">Preview it</a>
    <% end %>
    </p>
  </body>
</html>
