<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Edit",
      heading_level: 2,
      margin_bottom: 5,
    } %>
  </div>
</div>

<% if !@resource.is_editable_by?(current_user) %>
  <div class="govuk-grid-row edit--readonly">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "editions/secondary_nav_tabs/edit/readonly/#{ @resource.kind_for_artefact }", locals: { edition: @resource } %>

      <%= render partial: "editions/secondary_nav_tabs/edit/readonly/components/beta_content_radio", locals: { edition: @resource } %>

      <%= render partial: "editions/secondary_nav_tabs/edit/readonly/components/public_change_note", locals: { edition: @resource } %>

      <% if Flipflop.enabled?(:show_link_to_content_block_manager) && @edition.editionable.class.to_s.in?(Edition::HAS_GOVSPEAK_FIELDS) %>
        <%= render partial: "editions/secondary_nav_tabs/edit/shared/content_block_manager_link" %>
      <% end %>
    </div>
    <% if @resource.scheduled_for_publishing? %>
      <div class="govuk-grid-column-one-third options-sidebar">
        <div class="sidebar-components">
          <%= sidebar_options_heading %>

          <%= sidebar_items_list(scheduled_for_publishing_sidebar_buttons(@resource)) %>
        </div>
      </div>
    <% elsif @resource.published? %>
      <div class="govuk-grid-column-one-third options-sidebar">
        <div class="sidebar-components">
          <%= sidebar_options_heading %>

          <%= sidebar_items_list(published_sidebar_buttons(@resource)) %>
        </div>
      </div>
    <% elsif !@resource.archived? %>
      <div class="govuk-grid-column-one-third options-sidebar">
        <div class="sidebar-components">
          <%= sidebar_options_heading %>

          <%= sidebar_items_list(non_published_sidebar_buttons(@resource)) %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= form_for @resource, as: :edition, url: edition_path(@resource), data: {module: "unsaved-changes-prompt"} do %>
    <div class="govuk-grid-row edit--editable">
      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "editions/secondary_nav_tabs/edit/editable/#{@resource.kind_for_artefact}", locals: { edition: @resource } %>

        <div class="edit_edition__supplementary_information">
          <%= render partial: "editions/secondary_nav_tabs/edit/editable/components/beta_content_radio", locals: { edition: @resource } %>

          <% if @resource.published_edition %>
            <%= render partial: "editions/secondary_nav_tabs/edit/editable/components/public_change_note", locals: { edition: @resource } %>
          <% end %>

          <% if Flipflop.enabled?(:show_link_to_content_block_manager) && @edition.editionable.class.to_s.in?(Edition::HAS_GOVSPEAK_FIELDS) %>
            <%= render partial: "editions/secondary_nav_tabs/edit/shared/content_block_manager_link" %>
          <% end %>
        </div>
      </div>
      <div class="govuk-grid-column-one-third options-sidebar">
        <div class="sidebar-components">
          <%= sidebar_options_heading %>

          <%= sidebar_items_list(non_published_sidebar_buttons(@resource)) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
