<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds history">
    <%= render "govuk_publishing_components/components/inset_text", {
      text: sanitize("Send fact check responses to #{mail_to resource.fact_check_email_address, class: "govuk-link govuk-link--no-visited-state"} and include [#{resource.id}] in the subject line."),
    } %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "History and notes",
      margin_bottom: 4,
    } %>

    <div class="history__actions">
      <%= render "govuk_publishing_components/components/accordion", {
        data_attributes: {
          module: "HistoryAndNotes",
          "toggle-show-text": "Show earlier messages",
          "toggle-hide-text": "Hide earlier messages",
        },
        items: @resource.history.map do |edition|
          {
            heading: {
              text: "Edition #{edition.version_number}",
            },
            content: {
              html: (render "editions/secondary_nav_tabs/history_edition_item", {
                edition: edition,
                update_events: @update_events,
              }),
            },
            expanded: edition.latest_edition? ? true : false,
          }
        end,
      } %>
    </div>
  </div>

  <% if current_user.has_editor_permissions?(@resource) %>
    <div class="govuk-grid-column-one-third options-sidebar">
      <div class="sidebar-components">
        <%= sidebar_options_heading %>

        <%= render "govuk_publishing_components/components/list", {
          items: [
            (render "govuk_publishing_components/components/button", {
              text: "Add edition note",
              margin_bottom: 3,
              href: history_add_edition_note_edition_path,
            }),
            (render "govuk_publishing_components/components/button", {
              text: "Update important note",
              margin_bottom: 3,
              secondary_solid: true,
              href: history_update_important_note_edition_path,
            }),
          ],
        } %>
      </div>
    </div>
  <% end %>
</div>
