<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= header_for("Related external links") %>

    <%= form_for @edition, url: update_related_external_links_edition_path(@resource) do %>
      <%= render "govuk_publishing_components/components/add_another", {
        fieldset_legend: "Link",
        add_button_text: "Add another link",
        items: [
          {
            fields: (render "secondary_nav_tabs/add-another_fieldset", index: 0),
            destroy_checkbox: (render :partial => "secondary_nav_tabs/add-another_checkbox")
          }
        ],
        empty: (render "secondary_nav_tabs/add-another_fieldset", index: 1)
      } %>

      <%= render "govuk_publishing_components/components/inset_text", {
        text: "After saving, changes to related external links will be visible on the site the next time this publication is published."
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save"
      } %>
    <% end %>
  </div>
</div>
