<%# locals: (form_url:, comment_label_text:, submit_button_text:, text: nil, schedule_fields: nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if text %>
      <p class="govuk-body">
        <%= sanitize(text, attributes: %w[href target class]) %>
      </p>
    <% end %>

    <%= form_for(:edition, url: form_url) do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          heading_size: "m",
          text: comment_label_text,
        },
        name: "comment",
        value: params[:comment],
        rows: schedule_fields == nil ? 14 : 5,
      } %>

      <%= schedule_fields if schedule_fields %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: submit_button_text,
        } %>
        <%= link_to("Cancel", edition_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
