<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= header_for("Tagging") %>

    <% heading_breadcrumb = "GOV.UK breadcrumb" %>
    <% heading_browse_pages = "Mainstream browse pages" %>
    <% heading_organisations = "Organisations" %>
    <% heading_related_items = "Related content" %>

    <% if @tagging_update_form_values.parent == nil %>
      <%= render partial: "secondary_nav_tabs/tagging/summary_card_empty", locals: {
        heading: heading_breadcrumb,
        body: "No breadcrumb set",
        link_text: "Set GOV.UK breadcrumb",
        link_url: tagging_breadcrumb_page_edition_path,
      } %>
    <% else %>
      <% if current_user.has_editor_permissions?(@edition) %>
        <% actions =
          [
            {
              label: "Remove",
              href: tagging_remove_breadcrumb_page_edition_path,
            },
            {
              label: "Edit",
              href: tagging_breadcrumb_page_edition_path,
            },
          ]
        %>
      <% else %>
        <% actions = [] %>
      <% end %>

      <%= render partial: "secondary_nav_tabs/tagging/summary_card_full", locals: {
        type: "breadcrumb",
        heading: heading_breadcrumb,
        key_text: "Breadcrumb",
        actions: actions,
      } %>
    <% end %>

    <% if @tagging_update_form_values.mainstream_browse_pages == nil %>
      <%= render partial: "secondary_nav_tabs/tagging/summary_card_empty", locals: {
        heading: heading_browse_pages,
        body: "Not tagged to any browse pages",
        link_text: "Tag to a browse page",
        link_url: tagging_mainstream_browse_pages_page_edition_path,
      } %>
    <% else %>
      <% if current_user.has_editor_permissions?(@edition) %>
        <% actions =
          [{
              label: "Edit",
              href: tagging_mainstream_browse_pages_page_edition_path,
            },
          ]
        %>
      <% else %>
        <% actions = [] %>
      <% end %>

      <%= render partial: "secondary_nav_tabs/tagging/summary_card_full", locals: {
        type: "browse_pages",
        heading: heading_browse_pages,
        key_text: "Browse page",
        actions: actions,
      } %>
    <% end %>

    <% if @tagging_update_form_values.organisations == nil %>
      <%= render partial: "secondary_nav_tabs/tagging/summary_card_empty", locals: {
        heading: heading_organisations,
        body: "Not tagged to any organisations",
        link_text: "Tag to an organisation",
        link_url: tagging_organisations_page_edition_path,
      } %>
    <% else %>
      <% if current_user.has_editor_permissions?(@edition) %>
        <% actions =
          [
            {
              label: "Edit",
              href: tagging_organisations_page_edition_path,
            },
          ]
        %>
      <% else %>
        <% actions = [] %>
      <% end %>

      <%= render partial: "secondary_nav_tabs/tagging/summary_card_full", locals: {
        type: "organisations",
        heading: heading_organisations,
        key_text: "Organisation",
        actions: actions,
      } %>
    <% end %>

    <% if @tagging_update_form_values.ordered_related_items == nil %>
      <%= render partial: "secondary_nav_tabs/tagging/summary_card_empty", locals: {
        heading: heading_related_items,
        body: "Not tagged to any related content",
        link_text: "Tag to related content",
        link_url: tagging_related_content_page_edition_path,
      } %>
    <% else %>
      <% if current_user.has_editor_permissions?(@edition) %>
        <% actions =
          [{
              label: "Edit",
              href: tagging_related_content_page_edition_path,
           }]
        %>
        <% if @tagging_update_form_values.ordered_related_items.length > 1 %>
          <% actions.unshift(
               {
                 label: "Reorder",
                 href: tagging_reorder_related_content_page_edition_path,
               })
          %>
        <% end %>
      <% else %>
        <% actions = [] %>
      <% end %>

      <%= render partial: "secondary_nav_tabs/tagging/summary_card_full", locals: {
        type: "related_content",
        heading: heading_related_items,
        key_text: "Related content",
        actions: actions,
      } %>
    <% end %>
  </div>
</div>
