<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Delete edition" %>
<% content_for :title, "Delete edition" %>
<div class="govuk-grid-row">
  <% unless @edition.errors.empty? %>
    <% content_for :error_summary do %>
      <%= render("govuk_publishing_components/components/error_summary", {
        id: "error-summary",
        title: "There is a problem",
        items: @edition.errors.map do |error|
          {
            text: error.message,
            href: "##{error.attribute.to_s}",
          }
        end,
      }) %>
    <% end %>
  <% end %>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/inset_text", {
      text: "If you delete this edition it cannot be undone.",
    } %>

    <%= form_for @edition, url: admin_delete_edition_path(@edition), method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-7">Are you sure you want to delete this edition?</p>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete edition",
          destructive: true,
        } %>
        <%= link_to("Cancel", admin_edition_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
