<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Tag related content" %>
<% content_for :title, "Tag related content" %>

<% if !@tagging_update_form_values.errors.empty? %>
  <div class="govuk-grid-row">
    <% content_for :error_summary do %>
      <%= render("govuk_publishing_components/components/error_summary", {
        id: "error-summary",
        title: "There is a problem",
        items: @tagging_update_form_values.errors.map do |error|
          {
            text: error.message,
          }
        end,
      }) %>
    <% end %>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds tagging">
    <p class="govuk-body">Related content items are displayed in the sidebar.</p>

    <%= form_with model: @tagging_update_form_values, url: update_related_content_edition_path(@resource) do |f| %>
      <%
        if @tagging_update_form_values.ordered_related_items == nil
          items = [
            {
              fields: render(partial: "secondary_nav_tabs/tagging/related_content_input"),
              destroy_checkbox: render(partial: "secondary_nav_tabs/tagging/add-another_checkbox", locals: { index: 0, f: f }),
            },
          ]
          empty = render(partial: "secondary_nav_tabs/tagging/related_content_input")
        else
          items = @tagging_update_form_values.ordered_related_items.each_with_index.map do | related_item, index |
            {
              fields: render(partial: "secondary_nav_tabs/tagging/related_content_input", locals: { index:, value: related_item }),
              destroy_checkbox: render(partial: "secondary_nav_tabs/tagging/add-another_checkbox", locals: { index: index, f: f }),
            }
          end
          empty = render(partial: "secondary_nav_tabs/tagging/related_content_input", locals: { index: @tagging_update_form_values.ordered_related_items.count, value: nil })
        end
      %>

      <%= f.hidden_field :previous_version %>

      <%= render "govuk_publishing_components/components/add_another", {
        fieldset_legend: "Related content",
        add_button_text: "Add another related content item",
        empty_fields: false,
        items: items,
        empty: empty,
      } %>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>
        <%= link_to("Cancel", tagging_edition_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
