<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Reorder related content" %>
<% content_for :title, "Reorder related content" %>

<% if !@tagging_update_form_values.errors.empty? %>
  <div class="govuk-grid-row">
    <% content_for :error_summary do %>
      <%= render("govuk_publishing_components/components/error_summary", {
        id: "error-summary",
        title: "There is a problem",
        items: @tagging_update_form_values.errors.map do |error|
          {
            text: error.message,
          }
        end,
      }) %>
    <% end %>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds tagging">
    <p class="govuk-hint">Use the up and down buttons to reorder related content items, or select and hold on an item to reorder using drag and drop</p>

    <%= form_with model: @tagging_update_form_values, url: reorder_related_content_edition_path(@resource) do |f| %>
      <%= render "govuk_publishing_components/components/reorderable_list", {
        items: @tagging_update_form_values.ordered_related_items.map do |related_item|
          {
            id: related_item,
            title: related_item,
          }
        end,
        input_name: "reordered_related_items",
      } %>

      <%= f.hidden_field :previous_version %>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update order",
        } %>
        <%= link_to("Cancel", tagging_edition_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
