<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :title, "Are you sure you want to remove the breadcrumb?" %>
<% content_for :page_title, "Are you sure you want to remove the breadcrumb?" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% unless @edition.errors.empty? %>
      <% content_for :error_summary do %>
        <%= render("govuk_publishing_components/components/error_summary", {
          id: "error-summary",
          title: "There is a problem",
          items: @edition.errors.map do |error|
            {
              text: error.message,
              href: "##{error.attribute.to_s}",
            }
          end,
        }) %>
      <% end %>
    <% end %>

    <%= form_with model: @tagging_update_form_values, url: remove_breadcrumb_edition_path(@resource), data: { module: "" } do |f| %>
      <%= f.hidden_field :previous_version %>

      <%= render "govuk_publishing_components/components/radio", {
        name: "#{f.object_name}[remove_parent]",
        heading: "Are you sure you want to remove the breadcrumb?",
        heading_level: 0,
        visually_hidden_heading: true,
        id: "remove_parent",
        hint: "Breadcrumbs are displayed at the top of the page and help users to navigate. There may be some situations where you do not need a breadcrumb to display (for example, on Welsh translation pages).",
        error_message: @edition.errors.empty? ? nil : @edition.errors.first.message,
        items: [
          {
            value: "yes",
            text: "Yes, remove the breadcrumb",
          },
          {
            value: "no",
            text: "No, keep the breadcrumb",
          },
        ],
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>
        <%= link_to("Cancel", tagging_edition_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
