<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Tag organisations" %>
<% content_for :title, "Tag organisations" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Tagging a page to an organisation makes it appear in searches filtered by that organisation.</p>
    <p class="govuk-body">For example, <%= link_to "a search for documents published by HMRC", "https://www.gov.uk/search/all?keywords=taxes&order=relevance&organisations%5B%5D=hm-revenue-customs", class: "govuk-link" %>.</p>

    <%= form_for (@tagging_update_form_values), url: update_tagging_edition_path(@resource) do |f| %>
      <%= f.hidden_field :content_id %>
      <%= f.hidden_field :previous_version %>
      <%= f.hidden_field :tagging_type, value: "organisations" %>
      <% Array(@tagging_update_form_values.parent).each do |parent_id| %>
        <%= f.hidden_field :parent, value: parent_id, multiple: true %>
      <% end %>
      <% Array(@tagging_update_form_values.ordered_related_items).to_a.map { |item| item["base_path"] }.each do |base_path| %>
        <%= f.hidden_field :ordered_related_items, value: base_path, multiple: true %>
      <% end %>
      <% Array(@tagging_update_form_values.mainstream_browse_pages).each do |page_id| %>
        <%= f.hidden_field :mainstream_browse_pages, value: page_id, multiple: true %>
      <% end %>

      <%= render "govuk_publishing_components/components/select_with_search", {
        id: "tagging_tagging_update_form[organisations][]",
        label: "Organisations",
        heading_size: "s",
        include_blank: true,
        multiple: true,
        options: @linkables,
      } %>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>
        <%= link_to("Cancel", tagging_edition_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
