<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Tag organisations" %>
<% content_for :title, "Tag organisations" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Tagging a page to an organisation makes it appear in searches filtered by that organisation.</p>
    <p class="govuk-body">For example, <%= link_to "a search for documents published by HMRC", "https://www.gov.uk/search/all?keywords=taxes&order=relevance&organisations%5B%5D=hm-revenue-customs", class: "govuk-link" %>.</p>

    <%= form_with model: @tagging_update_form_values, url: update_organisations_edition_path(@resource), data: { module: "" } do |f| %>
      <%= f.hidden_field :previous_version %>

      <%= render "govuk_publishing_components/components/select_with_search", {
        id: "tagging_tagging_update_form[organisations][]",
        label: "Organisations",
        heading_size: "s",
        include_blank: true,
        multiple: true,
        options: @linkables,
      } %>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>
        <%= link_to("Cancel", tagging_edition_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
