<% @edition = @resource %>
<% content_for :title_context, @edition.title %>
<% content_for :page_title, "Tag browse pages" %>
<% content_for :title, "Tag browse pages" %>

<%= form_with model: @tagging_update_form_values, url: update_mainstream_browse_pages_edition_path(@edition), data: {module: ""} do |f| %>
  <%= f.hidden_field :previous_version %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/hint", {
        text: "Select all that apply",
      } %>
      <% @checkbox_groups.each do |checkbox_group| %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "#{f.object_name}[mainstream_browse_pages][]",
          heading: checkbox_group[:heading],
          heading_size: "m",
          small: true,
          no_hint_text: true,
          items: checkbox_group[:items],
        } %>
        <% end %>
    </div>

    <div class="govuk-grid-column-one-third options-sidebar">
      <div class="sidebar-components">
        <%= sidebar_options_heading %>
        <%= sidebar_items_list(base_edition_sidebar_buttons(tagging_edition_path(@edition))) %>
      </div>
    </div>
  </div>
<% end %>
