<%
  assignees = [{text: "All assignees", value: ""}]
  content_types = []
  states = []

  @presenter.available_users.map do | user |
    if user.id.to_s == @presenter.assigned_to
      assignees << {text: user.name, value: user.id, selected: "true"}
    else
      assignees << {text: user.name, value: user.id}
    end
  end

  format_filter_selection_options.map do | format |
    if format[1] == @presenter.content_type
      content_types << {text: format[0], value: format[1], selected: "true"}
    else
      content_types << {text: format[0], value: format[1]}
    end
  end

  state_names.collect do |scope, status_label|
    if @presenter.states.include? scope.to_s
      states << {label: status_label, value: scope, checked: "true"}
    else
      states << {label: status_label, value: scope}
    end
  end
%>

<div class="publications-filter govuk-!-padding-5">
  <%= form_with url: root_path, method: :get do |form| %>
    <%= render "govuk_publishing_components/components/heading", {
      text: "Filter by",
      margin_bottom: 4,
    } %>

    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Title",
        bold: true,
      },
      name: "title_filter",
      id: "title_filter",
      value: @presenter.title,
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "assignee_filter",
      full_width: true,
      label: "Assigned to",
      options: assignees,
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "format_filter",
      label: "Content type",
      full_width: true,
      options: content_types,
    } %>

    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "states_filter[]",
      heading: "Status",
      heading_size: "s",
      items: states,
    } %>

    <div class="govuk-button-group">
      <%= render "govuk_publishing_components/components/button", {
        text: "Update filter",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Reset all fields",
        type: "reset",
        secondary: true,
      } %>
    </div>
  <% end %>
</div>
