<div class="publications-filter govuk-!-padding-5">
  <%= form_with url: root_path, method: :get do |form| %>
    <%= render "govuk_publishing_components/components/heading", {
      text: "Filter",
      margin_bottom: 4,
    } %>

    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Title or slug",
        bold: true,
      },
      name: "search_text",
      id: "search_text",
      value: @presenter.search_text,
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "assignee_filter",
      full_width: true,
      label: "Assigned to",
      options: @presenter.assignees,
    } %>

    <%= render "govuk_publishing_components/components/select", {
      id: "content_type_filter",
      label: "Content type",
      full_width: true,
      options: @presenter.content_types,
    } %>

    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "states_filter[]",
      heading: "Status",
      heading_size: "s",
      small: true,
      items: @presenter.edition_states,
    } %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Search",
      margin_bottom: 4,
    } %>

    <p class="govuk-body">
      <%= link_to "Reset all fields", root_path, class: "govuk-link govuk-link--no-visited-state" %>
    </p>
  <% end %>
</div>
