<% if with && publication.id.to_s == with %>
<tr id="current">
<% else %>
<tr>
<% end %>
  <td>
    <%= publication.format.underscore.humanize %>
  </td>
  <td class="title">
    <%= publication.admin_list_title %>

    <% if tab && (tab == :published || tab == :archived) %>
      (Ed.<%= publication.version_number %>)
      <% if publication.subsequent_siblings.first.present? %>
        (Ed.<%= publication.subsequent_siblings.first.version_number %> in <%= publication.subsequent_siblings.first.state.humanize.downcase %>)
      <% end%>
    <% else %>
      (Ed. <%= publication.version_number %>)
    <% end %>

    <% if publication.has_video? %>
      <i class="glyphicon glyphicon-film" alt="Has video"></i>
    <% end %>

    <% if publication.in_beta? %>
      <span class="badge badge-beta">beta</span>
    <% end %>
  </td>
  <td>
    <%= publication.slug %>
  </td>
  <td>
    <%= timestamp(publication.updated_at) %>
  </td>
  <% if tab && tab == :fact_check %>
  <td>
    <%= timestamp(publication.last_fact_checked_at) %>
  </td>
  <% end %>
  <% if tab && tab == :scheduled_for_publishing %>
  <td>
    <%= timestamp(publication.publish_at) %>
  </td>
  <% end %>
  <td>
    <%= publication.assignee %>
  </td>
    <td>
      <%= publication.creator %>
    </td>
    <td>
      <%= publication.section %>
    </td>
    <% if tab && tab == :archived %>
    <td>
      <%= publication.archiver %>
    </td>
    <td class="icon">
      <%= link_to publication_front_end_path(publication) do %>
        <i class="glyphicon glyphicon-share-alt" title="View this publication"></i>
      <% end %>
    </td>
    <% end %>
    <% if tab && [:archived, :scheduled_for_publishing].include?(tab) %>
    <td class="icon">
      <%= link_to edition_path(publication) do %>
        <i class="glyphicon glyphicon-lock" title="Locked view for this publication"></i>
      <% end %>
    </td>
    <% end %>
  <% if tab && tab != :scheduled_for_publishing %>
  <td class="icon">
    <% if tab and tab == :archived and publication.can_create_new_edition? %>
      <%= link_to 'Create new edition', class: 'btn btn-mini btn-success', method: :post %>
    <% else %>
      <%= link_to edition_path(publication) do %>
        <i class="glyphicon glyphicon-edit" title="Edit this publication"></i>
      <% end %>
    <% end %>
  </td>
  <% end %>
  <td class="icon">
    <% if publication.safe_to_preview? %>
      <%= link_to preview_edition_path(publication), {:class => 'preview'} do %>
        <i class="glyphicon glyphicon-eye-open" title="Preview this publication"></i>
      <% end %>
    <% else %>
      <i class="glyphicon glyphicon-ban-circle" title="Preview disabled for this publication"></i>
    <% end %>
  </td>
</tr>
