<% if with && publication.id.to_s == with %>
<tr id="current">
<% else %>
<tr>
<% end %>
  <td>
    <%= publication.format.underscore.humanize %>
  </td>
  <td>
    <p>
      <%= publication.admin_list_title %>

      &mdash; Ed. <%= publication.version_number %>
      <% unless publication.can_create_new_edition? %>
      (Ed. <%= publication.sibling_in_progress %> in draft)
      <% end %>

      <% if publication.has_video? %>
        <i class="glyphicon glyphicon-film" alt="Has video"></i>
      <% end %>

      <% if publication.in_beta? %>
        <span class="badge badge-beta">beta</span>
      <% end %>
    </p>
  </td>
  <td>
    <%= publication.slug %>
  </td>
  <td>
    <%= timestamp(publication.updated_at) %>
  </td>
  <td>
    <%= publication.assignee %>
  </td>
  <td>
    <%= publication.creator %>
  </td>
  <td>
    <%= publication.section %>
  </td>
  <td>
    <%= publication.publisher %>
  </td>
  <td class="icon">
    <%= link_to publication_front_end_path(publication) do %>
      <i class="glyphicon glyphicon-share-alt" title="View this publication"></i>
    <% end %>
  </td>
  <td class="icon">
    <%#edition_path(publication) %>
    <%= link_to "/editions/#{publication.id}" do %>
      <i class="glyphicon glyphicon-lock" title="Locked view for this publication"></i>
    <% end %>
  </td>
  <td class="duplicate icon">
    <% if publication.can_create_new_edition? %>
      <%= button_to "Create new edition of this publication", duplicate_edition_path(publication), class: 'btn btn-default btn-sm' %>
    <% else %>
      <%= link_to 'Edit existing newer edition', edition_path(publication.in_progress_sibling), html_options = { "class" => ""} %>
    <% end %>
  </td>
  <td class="icon">
    <%= link_to preview_edition_path(publication) do %>
      <i class="glyphicon glyphicon-eye-open" title="Preview this publication"></i>
    <% end %>
  </td>
</tr>
