<tr>
  <td>
    <%= publication.format.underscore.humanize %>
  </td>
  <td class="title">
    <h4 class="publication-table-title">
      <%= link_to publication.admin_list_title, edition_path(publication) %>
      <% if publication.in_beta? %>
        <span class="badge badge-beta">beta</span>
      <% end %>
    </h4>

    <% if publication.safe_to_preview? %>
      <%= link_to "/#{publication.slug}", preview_edition_path(publication), class: 'link-muted' %>
    <% else %>
      <span class="text-muted"><%= publication.slug %></span>
    <% end %>

    <span class="text-muted"> &middot; <span title="Edition <%= publication.version_number %>">#<%= publication.version_number %></span></span>
    <% if tab && (tab == :published || tab == :archived) && publication.subsequent_siblings.first.present? %>
      <span class="text-muted"> – #<%= publication.subsequent_siblings.first.version_number %> in <%= publication.subsequent_siblings.first.state.humanize.downcase %>
      </span>
    <% end %>

    <% if publication.has_video? %>
      <i class="glyphicon glyphicon-film" alt="Has video"></i>
    <% end %>
  </td>
  <td>
    <time class="publication-table-date" data-toggle="tooltip" datetime="<%= publication.updated_at %>" title="<%= publication.updated_at.to_s(:govuk_date) %>">
      <%= publication.updated_at.to_date.to_s(:govuk_date_short) %>
    </time>
  </td>
  <% if tab && tab == :fact_check %>
  <td>
    <time class="publication-table-date" data-toggle="tooltip" datetime="<%= publication.last_fact_checked_at %>" title="<%= publication.last_fact_checked_at.to_s(:govuk_date) %>">
      <%= publication.last_fact_checked_at.to_date.to_s(:govuk_date_short) %>
    </time>
  </td>
  <% end %>
  <% if tab && tab == :scheduled_for_publishing %>
  <td>
    <time class="publication-table-date" datetime="<%= publication.publish_at %>">
      <%= publication.publish_at.to_s(:govuk_date_short) %>
    </time>
  </td>
  <% end %>
  <td>
    <%= publication.assignee %>
  </td>
  <td>
    <%= publication.creator %>
  </td>
  <% if tab && tab == :archived %>
    <td>
      <%= publication.archiver %>
    </td>
    <td>
      <% if publication.can_create_new_edition? %>
        <%= link_to 'Create new edition', duplicate_edition_path(publication), class: 'btn btn-default', method: :post %>
      <% else %>
        <%= link_to 'Edit newer edition', edition_path(publication.in_progress_sibling), html_options = { "class" => "btn btn-info"} %>
      <% end %>
    </td>
  <% end %>
</tr>
