<fieldset class="inputs">
  <div class="row">
    <div class="col-md-8">
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
    </div>
  </div>

  <%= f.fields_for "Campaign images" do %>
    <table class="table table-bordered image-upload remove-bottom-margin">
      <thead>
        <tr class="table-header">
          <th scope="col">Size</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "campaigns/image_upload", :locals => { :f => f, :format => :small, :size => "320px x 236px" } %>
        <%= render :partial => "campaigns/image_upload", :locals => { :f => f, :format => :medium, :size => "768px x 566px" } %>
        <%= render :partial => "campaigns/image_upload", :locals => { :f => f, :format => :large, :size => "960px x 300px" } %>
      </tbody>
    </table>

  <% end %>
  <hr />

  <div class="form-group">
    <span class="form-label">
      <%= f.label :organisation_formatted_name, "Organisation formatted name" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :organisation_formatted_name, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-3 form-control" %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :organisation_url, "Organisation URL" %>
    </span>
    <span class="form-wrapper">
      <%= f.text_field :organisation_url, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :organisation_crest %>
    </span>
    <span class="form-wrapper">
      <%= f.select :organisation_crest, CampaignEdition::CRESTS, {}, { disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" } %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :organisation_brand_colour %>
    </span>
    <span class="form-wrapper">
      <%= f.select :organisation_brand_colour, CampaignEdition::BRAND_COLOURS, {}, { disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" } %>
    </span>
  </div>

  <div class="form-group">
    <span class="form-label">
      <%= f.label :body %>
    </span>
    <span class="form-wrapper">
      <%= f.text_area :body, rows: 20, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control" %>
    </span>
  </div>
</fieldset>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
