<tr id="<%= format %>-campaign-image">
  <th scope="row" class="row-header">
    <%= format.capitalize %> image
    <div class="normal"><%= size %></div>
  </th>
  <td>
    <% if @edition.send("#{format}_image") %>
      <% if @edition.send("#{format}_image").state == "unscanned" %>
        <p class="alert alert-info"><%= @edition.send("#{format}_image").name %> is being scanned for viruses</p>
      <% else %>
        <p>
          <%= link_to @edition.send("#{format}_image").file_url do %>
            <%= image_tag @edition.send("#{format}_image").file_url, :height => "200px" %>
          <% end %>
        </p>
      <% end %>
      <p><%= label_tag do %>Remove image? <%= check_box_tag "edition[remove_#{format}_image]", "1" %><% end %></p>
    <% end %>
    <%= f.input "#{format}_image".to_sym, :as => :file, :label => "Upload image:" %>
  </td>
</tr>
