<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>

      <%= form_group(f, :introduction, label: "Introductory paragraph", help: "Set the scene for the user. What is about to happen? (eg. \"you will need to fill in a form, print it out and take it to the post office\")") do %>
        <%= f.text_area :introduction, rows: 8, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <div class="form-group">
        <label for="edition_start_button_text">Start button text:</label><br/>
        <% ["Start now", "Sign in"].each do |option| %>
        <%# radio_button(object_name, method, tag_value, options = {}) %>
          <%= f.radio_button :start_button_text, option, {class: "input-md-7", disabled: @resource.locked_for_edits?} %>
          <%= f.label "start_button_text_#{option.gsub(" ","_").underscore}", option %><br>
        <% end %>
      </div>

      <%= form_group(f, :will_continue_on, help: "Text to follow the statement 'This will continue on. eg. \"the HMRC website\"'") do %>
        <%= f.text_field :will_continue_on, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :link, label: "Link to start of transaction", help: "Link as deep as possible.") do %>
        <%= f.text_field :link, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :more_information) do %>
        <%= f.text_area :more_information, rows: 20, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control" %>
      <% end %>

      <%= form_group(f, :alternate_methods, label: "Other ways to apply", help: "Alternative ways of completing this transaction. Not displayed on front end if left blank.") do %>
        <%= f.text_area :alternate_methods, rows: 20, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control" %>
      <% end %>

      <%= form_group(f, :need_to_know, label: "What you need to know", attributes: { class: %w[add-top-margin] } ) do %>
        <%= f.text_area :need_to_know, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :department_analytics_profile, label: "Service analytics profile", help: "Let service teams track user journeys between GOV.UK and their service using Google Analytics.", attributes: { class: %w[add-top-margin] }) do %>
        <%= f.text_area :department_analytics_profile, placeholder: 'UA-XXXXXX-X', rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-2 form-control" %>
      <% end %>
    </fieldset>
  </div>
</div>

<div class="row">

  <div class="col-md-8"
    data-module="collapsible-group"
    data-expand-text="Expand all variants"
    data-collapse-text="Collapse all variants"
  >
    <h3 class="remove-top-margin">Variants</h3>
    <p class="add-bottom-margin if-no-js-hide">
      <a href="#" class="js-toggle-all">Collapse all variants</a>
    </p>

    <section class="panel-group" id="parts" data-module="parts">
      <%= f.fields_for :variants, @ordered_variants do |variant| %>
        <%= render :partial => '/shared/transaction_variant', :locals => {:f => variant, :editable => ! @resource.locked_for_edits? } %>
      <% end %>
    </section>

    <%= f.link_to_add :variants, :data => { :target => "#parts" }, :class => 'btn btn-default' do %>
      <i class="glyphicon glyphicon-plus add-right-margin"></i>Add new variant
    <% end %>

  </div>

</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
