<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <legend class="remove-bottom-margin">
        <h2 class="remove-top-margin add-bottom-margin h3">Edit Transaction</h2>
      </legend>

      <%= render :partial => "shared/common_edition_attributes", :locals => {:f => f} %>

      <%= form_group(f, :introduction, label: "Introductory paragraph", help: "Set the scene for the user. What is about to happen? (eg. \"you will need to fill in a form, print it out and take it to the post office\")") do %>
        <%= f.text_area :introduction, rows: 8, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <fieldset>
        <legend>
          <p class="start-button-text remove-bottom-margin">Start button text:</p>
        </legend>
        <% ["Start now", "Sign in"].each do |option| %>
          <%= f.radio_button :start_button_text, option, {class: "input-md-7", disabled: @resource.locked_for_edits?} %>
          <%= f.label "start_button_text_#{option.gsub(" ","_").underscore}", option %><br>
        <% end %>
      </fieldset>

      <%= form_group(f, :will_continue_on, help: "Text to follow the statement 'This will continue on. eg. \"the HMRC website\"'") do %>
        <%= f.text_field :will_continue_on, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :link, label: "Link to start of transaction", help: "Link as deep as possible.") do %>
        <%= f.text_field :link, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
      <% end %>

      <%= form_group(f, :more_information) do %>
        <%= f.text_area :more_information, rows: 20, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <%= form_group(f, :alternate_methods, label: "Other ways to apply", help: "Alternative ways of completing this transaction. Not displayed on front end if left blank.") do %>
        <%= f.text_area :alternate_methods, rows: 20, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>

      <%= form_group(f, :need_to_know, label: "What you need to know", attributes: { class: %w[add-top-margin] } ) do %>
        <%= f.text_area :need_to_know, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control", data: {
          module: "paste-html-to-govspeak",
        } %>
      <% end %>
    </fieldset>
  </div>
</div>

<%= render partial: "shared/workflow_buttons", locals: { f: f } %>
