<%= f.inputs do %>
  <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>
  <%= render :partial => 'shared/video', :locals => {:f => f} %>
<% end %>

<hr>

<div class="row">

  <div class="col-md-8" data-module="collapsible-group">

    <h3 class="remove-top-margin">Parts</h3>

    <ul class="list-inline add-bottom-margin hide-if-no-js">
      <li><a href="#" class="js-expand-all">Expand all parts</a></li>
      <li><a href="#" class="js-collapse-all">Collapse all parts</a></li>
    </ul>

    <section class="panel-group" id="parts">
      <%= f.semantic_fields_for :parts, @ordered_parts do |part| %>
        <%= render :partial => '/shared/part', :locals => {:f => part, :editable => ! @resource.locked_for_edits? } %>
      <% end %>
    </section>

    <%= f.link_to_add :parts, :data => { :target => "#parts" }, :class => 'btn btn-default' do %>
      <i class="glyphicon glyphicon-plus add-right-margin"></i>Add new part
    <% end %>

  </div>

  <div class="col-md-4">
    <h3 class="remove-top-margin add-bottom-margin">Govspeak help</h3>

    <div class="well">
      <%= render "../shared/govspeak_help" %>
    </div>
  </div>

</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
