
<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <legend class="remove-bottom-margin">
        <h2 class="remove-top-margin add-bottom-margin h3">Edit Guide</h2>
      </legend>

      <%= render :partial => "shared/common_edition_attributes", :locals => {:f => f} %>
    </fieldset>
  </div>
</div>

<div class="form-group checkbox">
  <div class="form-wrapper emphasised-field form-group">
    <%= f.label :hide_chapter_navigation, class: "control-label" do %>
      <%= f.check_box :hide_chapter_navigation, disabled: @resource.locked_for_edits? %>
      Hide chapter navigation and arrows
    <% end %>
    <span class="help-block">Only do this when every chapter is included in a step by step navigation.</span>
  </div>
</div>

<hr>

<div class="row">

  <div class="col-md-8"
    data-module="collapsible-group"
    data-expand-text="Expand all parts"
    data-collapse-text="Collapse all parts"
  >
    <h3 class="remove-top-margin">Parts</h3>
    <p class="add-bottom-margin if-no-js-hide">
      <a href="#" class="js-toggle-all">Collapse all parts</a>
    </p>

    <section class="panel-group" id="parts" data-module="parts">
      <%= f.fields_for :parts, @ordered_parts do |part| %>
        <%= render partial: "/shared/common_part_attributes", locals: { f: part, editable: !@resource.locked_for_edits?, child_record_type: "part" } %>
      <% end %>
    </section>

    <%= f.link_to_add(:parts, :model_object => Part.new, :data => { :target => "#parts" }, :class => "btn btn-default" ) do %>
      <i class="glyphicon glyphicon-plus add-right-margin"></i>Add new part
    <% end %>

  </div>
</div>

<%= render partial: "shared/workflow_buttons", locals: { f: f } %>
