<%= semantic_form_for @resource, :url => admin_edition_path(@resource), :as => :edition do |f| %>
  <%= f.inputs do %>
    <%= render :partial => 'admin/shared/title_etc', :locals => {:f => f} %>
    <%= render :partial => 'admin/shared/video', :locals => {:f => f} %>

    <%= f.inputs "Caption file" do %>
      <% if @edition.caption_file %>
        <div class="uploaded-caption-file">
          <h4>Current caption file</h4>
          <p><%= link_to @edition.caption_file.name, @edition.caption_file.file_url %></p>
          <p><%= label_tag do %>Remove caption file? <%= check_box_tag "edition[remove_caption_file]", "1" %><% end %></p>
        </div>

        <h4>Replace caption file</h4>
      <% end %>

      <p><%= f.input :caption_file, :as => :file, :label => "Upload a new caption file" %></p>
    <% end %>
    <hr />

    <%= f.input :body, :as => :text, :input_html => { :class => 'span7', :disabled => @resource.published? } %>
  <% end %>
<% end %>
