<fieldset class='form-horizontal'>
  
  <%= render partial: 'admin/shared/markdown_field', locals: { type: :content, form: f }%>

  <%= f.input :url,
              :as => :url,
              :input_html => { :class => 'span7' , :disabled => @resource.published?, } %>
 
  <div class="control-group">
    <label class="control-label">Attachments</label>
    <div class="controls">
      <div class="dropzone span7" id="attachment-dropzone">
      </div>
    </div>
  </div>

</fieldset>

<fieldset class='form-horizontal'>
  <legend>Media Enquiries</legend>
  
  <%= f.input :media_enquiries_name,
              :label => "Name",
              :input_html => { :class => 'span7' , :disabled => @resource.published? } %>

  <%= f.input :media_enquiries_email,
              :as => :email,
              :label => "Email",
              :input_html => { :class => 'span7' , :disabled => @resource.published? } %>

  <%= f.input :media_enquiries_telephone,
              :label => "Telephone",
              :input_html => { :class => 'span7' , :disabled => @resource.published? } %>


</fieldset>

<% content_for :extra_javascript do %>
  <script type="text/javascript">
    // let's create the Dropzone programmatically, please.
    Dropzone.autoDiscover = false;

    $(function() {
      // create the dropzone, prefill it, setup the events for handling the modal
      attachmentBuilder.setup();

      // setup the form
      $('#attachment-modal form').submit(function(event) {
        event.preventDefault();
        var form = $(this);
        var actionURL = form.attr('action');
        $.ajax({
          url: actionURL,
          type: "POST",
          data: form.serialize(),
          dataType: "json",
          success: function( data ) {
            attachmentBuilder.activeAttachment.data('attachment', data);
            attachmentBuilder.updateAttachmentSnippet();
          }
        });
      });
    });
  </script>
<% end %>
