<fieldset class='form-horizontal'>
  
  <%= render partial: 'admin/shared/markdown_field', locals: { type: :content, form: f }%>

  <%= f.input :url,
              :as => :url,
              :input_html => { :class => 'span7' , :disabled => @resource.published?, } %>
 
  <div class="control-group">
    <label class="control-label">Attachments</label>
    <div class="controls">
      <div class="dropzone span7" id="attachment-dropzone">
      </div>
    </div>
  </div>

</fieldset>

<fieldset class='form-horizontal'>
  <legend>Media Enquiries</legend>
  
  <%= f.input :media_enquiries_name,
              :label => "Name",
              :input_html => { :class => 'span7' , :disabled => @resource.published? } %>

  <%= f.input :media_enquiries_email,
              :as => :email,
              :label => "Email",
              :input_html => { :class => 'span7' , :disabled => @resource.published? } %>

  <%= f.input :media_enquiries_telephone,
              :label => "Telephone",
              :input_html => { :class => 'span7' , :disabled => @resource.published? } %>


</fieldset>

<% content_for :extra_javascript do %>
  <script type="text/javascript">
    $("div#attachment-dropzone").dropzone({ url: "<%= admin_attachments_path %>", paramName: "attachment[file]"}); 
  </script>
<% end %>
