<%= form.inputs "#{description.capitalize} file" do %>

  <fieldset class='form-horizontal'>

    <% if resource.send(attribute) %>
      <div class='control-group'>
        <%= form.label "Current #{description}", class: 'control-label' %>
        <div class='controls'>
          <%= link_to resource.send(attribute).name, resource.send(attribute).file_url %>
        </div>
      </div>

      <div class='control-group'>
        <%= form.label "Remove #{description}?", class: 'control-label' %>
        <div class='controls'>
          <%= check_box_tag "edition[remove_#{attribute}]", "1" %>
        </div>
      </div>

    <% end %>

    <p><%= form.input attribute, :as => :file, :label => resource.send(attribute) ? "Replace #{description}" : "Upload a new #{description}" %></p>

  </fieldset>
  
<% end %>
