    <h3>Notes for edition <%= edition.version_number %></h3>

    <dl class="dl-horizontal">
    <% edition.actions.reverse.each do |action| %>
      <dt>
        <%= action.created_at.strftime("%d/%m/%Y") %> <%= action.created_at.strftime("%R") %>
      </dt>
      <dd>
        <%= action.to_s %> by
        <% if action.requester %>
          <%= mail_to action.requester.email, action.requester.name %>
        <% else %>
          GOV.UK Bot
        <% end %>
        <% if action.comment.present? || action.is_fact_check_request? || action.diff || action.request_type == "assign" %>
          <% if action.comment.present? %>
            &ldquo;<%= simple_format(escape_once(action.comment), {}, :sanitize => false) %>&rdquo;
          <% end %>
          <% if action.is_fact_check_request? && action.email_addresses.present? %>
            <p><strong>Request Sent To:</strong> <%= mail_to action.email_addresses %></p></span>
          <% end %>
          <% if action.recipient_id.present? %>
            <span><p><strong>Assigned To:</strong> <%= mail_to action.recipient.email, action.recipient.name %></p></span>
          <% end %>
          <% if action.diff %>
            <%= format_content_diff(action.diff) %>
          <% end %>
      <% end %>
      </dd>
    <% end %>
    </dl>