    <h3>Notes for edition <%= edition.version_number %></h3>

    <dl class="dl-horizontal">
    <% edition.actions.reverse.each do |action| %>
      <dt>
        <%= action.created_at.strftime("%d/%m/%Y") %> <%= action.created_at.strftime("%R") %>
      </dt>
      <dd>
        <strong><%= action.to_s %></strong> by
        <% if action.requester %>
          <%= mail_to action.requester.email, action.requester.name %>
        <% else %>
          GOV.UK Bot
        <% end %>
        <% if action.comment.present? || action.is_fact_check_request? || action.diff || action.request_type == "assign" %>
          <% if action.comment_sanitized %>
            <div class="alert alert-error alert-block">
              This email contained some potentially harmful content, which has been automatically removed. You may want to read it carefully in case of a mistake.
            </div>
          <% end %>
          <q>
          <% if action.comment.present? %>
            <%= simple_format(escape_once(action.comment), {}, :sanitize => false) %>
          <% end %>
          <% if action.is_fact_check_request? && action.email_addresses.present? %>
            <strong>request sent to:</strong> <%= mail_to action.email_addresses %>
          <% end %>
          <% if action.recipient_id.present? %>
            <strong>assigned to &rarr;</strong> <%= mail_to action.recipient.email, action.recipient.name %>
          <% end %>
          <% if action.diff %>
            <%= format_content_diff(action.diff) %>
          <% end %>
          </q>
      <% end %>
      </dd>
    <% end %>
    </dl>