<div class="notification">
  <p><%= @latest_edition.latest_action.requester.name %> requested this edition be fact checked</p>
  <p>Please enter comments below to proceed. We are working on automating this process.</p>
  <% path = send("progress_admin_#{@latest_edition.container.class.to_s.underscore}_path", @latest_edition.container, :activity => 'fact_check_received', :edition_id => @latest_edition) %>
  <%= form_tag(path) do |f| %>
    <p><%= label_tag :comment, 'Fact Check Details' %>
    <%= text_area_tag :comment, '', :cols => 80, :rows => 8 %></p>
    <p><%= submit_tag 'Save Comments' %></p>
  <% end %>

</div>
