<% publication.editions.reverse.each do |edition| %>
  <div class="edition">
    <div class="buttons group">
      <h3>Version <%= edition.version_number %></h3>
    </div>
    <ul class="history">
      <% edition.actions.reverse.each do |action| %>
      <% if action.requester %>
      <li>
        <div class="action-time">
          <p><span class="visuallyhidden">Version created on</span> <span class="time"><%= action.created_at.strftime("%d/%m/%Y") %></span> <span class="visuallyhidden">at</span> <%= action.created_at.strftime("%R") %></p>
        </div>

        <div>
          <p><span class="action-by"><%= action.to_s %></span> by
          <%= mail_to action.requester.email, action.requester.name %></p>
        </div>

        <div class="action-comment">
          <%= image_tag action.requester.gravatar_url, :alt => action.requester.to_s %>
          <% if action.comment.present? %>
          <blockquote>
            <span><%= action.comment %></span>
          </blockquote>
          <% end %>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
