<%= semantic_form_for(:note, :url => admin_notes_path) do |f| %>
  <%= f.inputs do %>
    <%= hidden_field_tag :publication_id, publication.id %>
    <%= f.input :comment, :label => 'Note', :as => :text, :input_html => {:rows => 4} %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button 'Add Note' %>
  <% end %>
<% end %>

<% publication.editions.reverse.each do |edition| %>
  <div class="edition">
    <div class="buttons group">
      <h3>v<%= edition.version_number %></h3>
      <div class="check">
        <%= link_to 'Preview', preview_edition_path(edition) %>
        <%= button_to 'Diff' %>
        <%= button_to 'Diff with latest' %>
      </div>
    </div>
    <ul class="history">
      <% edition.actions.reverse.each do |action| %>
      <li>
        <% if action.requester %>
          <p>
            <%= image_tag action.requester.gravatar_url, :alt => action.requester.to_s %>
            <%= action.to_s %>
          </p>
          <p><%= mail_to action.requester.email, action.requester.name %></p>
        <% else %>
          <p><%= action.to_s %></p>
          <p>gov.uk bot</p>
        <% end %>
        
        <p class="action-time"><%= action.created_at.strftime("%d/%m/%Y %R") %></p>
        <% if action.comment.present? %>
        <blockquote><%= action.comment %></blockquote>
        <% end %>
      </li>
      
      <% end %>
    </ul>
  </div>
<% end %>
