<%= content_for :page_title, "New artefact" %>
<div class="page-header">
  <h1><%= yield :page_title %></h1>
</div>

<% if @artefact.errors.count > 0 %>
  <div class="alert alert-danger">
    <ul>
      <% @artefact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@artefact, html: { class: 'artefact', id: 'edit_artefact' }) do |f| %>
  <fieldset class="inputs">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <%= f.hidden_field :content_id, value: @artefact.content_id %>

          <div class="form-group">
            <span class="form-label">
              <%= f.label :name, "Title" %>
            </span>
            <span class="form-wrapper">
              <%= f.text_field :name, class: "input-md-6 form-control" %>
            </span>
          </div>

          <div class="form-group">
            <span class="form-label">
              <%= f.label :slug %>
            </span>
            <span class="form-wrapper">
              <%= f.text_field :slug, class: "input-md-6 form-control" %>
              <span class="help-block">For example: lower-case-hyphen-separated</span>
            </span>
          </div>

          <div class="form-group">
            <span class="form-label">
              <%= f.label :kind, "Format" %>
            </span>
            <span class="form-wrapper">
              <%= f.select :kind, formats.map { |s| [s.humanize, s]}, { include_blank: "Select a format" }, { class: "input-md-4 form-control" } %>
            </span>
          </div>

          <%= f.hidden_field :owning_app, value: 'publisher' %>

          <div class="form-group">
            <span class="form-label">
              <%= f.label :language %>
            </span>
            <span class="form-wrapper">
              <%= f.select :language, { "English" => "en", "Welsh" => "cy" }, {}, { class: "input-md-4 form-control" } %>
            </span>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit value: "Save and go to item", class: "add-left-margin btn btn-default" %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
