<div class="row">
  <div class="col-md-8">
    <fieldset class="inputs">
      <%= render :partial => 'shared/common_edition_attributes', :locals => {:f => f} %>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :place_type %>
        </span>
        <span class="form-wrapper">
          <%= f.text_field :place_type, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
          <span class="help-block">This is the 'slug' assigned in the imminence app</span>
        </span>
      </div>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :introduction %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :introduction, rows: 5, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control" %>
        </span>
      </div>

      <div class="form-group">
        <span class="form-label">
          <%= f.label :more_information %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :more_information, disabled: @resource.locked_for_edits?, class: "input-md-10 form-control" %>
        </span>
      </div>

      <div class="form-group add-top-margin">
        <span class="form-label">
          <%= f.label :need_to_know, "What you need to know" %>
        </span>
        <span class="form-wrapper">
          <%= f.text_area :need_to_know, rows: 4, disabled: @resource.locked_for_edits?, class: "input-md-7 form-control" %>
        </span>
      </div>
    </fieldset>
  </div>
</div>

<%= render partial: 'shared/workflow_buttons', locals: { f: f } %>
