<!DOCTYPE html>
<html>
<head>
  <title>
    <%= yield :page_title %>
    <% unless current_page?(root_path) %>
     | Publisher | beta.gov.uk
    <% end %>
  </title>
  <%= stylesheet_link_tag '/stylesheets/formtastic.css', '/stylesheets/formtastic_changes.css' %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
</head>
<body>

  <h2 id="site-title">Publisher</h2>

  <div id="wrapper" class="wrapper">

    <div class="content" role="main">
		<%= render :partial => 'places_front_end/location_header' %>
      <% [:notice, :alert].select { |k| flash[k].present? }.each do |k| %>
        <p class="flash-<%= k %>">
          <%= flash[k] %>
        </p>
      <% end %>

      <% unless current_page?(admin_root_path) or current_page?(root_path) %>
        <p class="return"><%= link_to 'Return to dashboard', admin_root_path %></p>
      <% end %>

      <%= yield %>

      <script type="text/javascript" charset="utf-8">
        var panoption_host = '<%= PANOPTICON_HOST %>';
      </script>
      <%= javascript_include_tag '/guide-assets/javascripts/application.js', '/javascripts/jquery.mustache.js', '/guide-assets/javascripts/form-tools.js', '/guide-assets/javascripts/jquery.tablesorter.min.js' %>
      <%= yield :extra_javascript %>

    </div>
  </div>

</body>
</html>
