<!DOCTYPE html>
<html>
<head>
  <title>
    <%= yield :page_title %> | GOV.UK Publisher
  </title>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
</head>
<body>

  <div id="wrapper" >

    <header class="navbar navbar-fixed-top" role="banner">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'GOV.UK Publisher', admin_root_path, :class => "brand" %>
          <nav role="navigation" class="nav-collapse">
            <ul class="nav">
              <li><%= link_to 'All publications', admin_root_path %></li>
              <li><%= link_to 'Overview', admin_overview_path %></li>
              <li><%= link_to 'Manage expectations', admin_expectations_path %></li>
              <li class="divider-vertical"></li>
              <li><a href="#" title="[Not yet implemented]">My publications</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  Services
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="http://digital.cabinetoffice.gov.uk/">GDS blog</a></li>
                  <li><a href="http://wiki.digital.cabinet-office.gov.uk/">GDS wiki</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Analytics', 'https://www.google.com/analytics/web/#dashboard/default/a26179049w50705554p51337955/'%></li>
                  <li><a href="#" title="[Not yet implemented]">Need-o-tron</a></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Sign out', gds_sign_out_path %></li>
                </ul>
              </li>
            </ul>
            <p class="navbar-text pull-right">Signed in as <a href="#">Joshua Marshall</a></p>
          </nav><!--/.nav-collapse -->
        </div>
      </div>
    </header>

    <div class="content" role="main">
      <% [:notice, :alert].select { |k| flash[k].present? }.each do |k| %>
        <p class="flash-<%= k %>">
          <%= flash[k] %>
        </p>
      <% end %>

      <%= yield %>

      <%= javascript_include_tag(
            '/publisher-assets/javascripts/application.js',
            '/javascripts/libs/jquery/plugins/jquery.mustache.js',
            '/publisher-assets/javascripts/form-tools.js',
            '/javascripts/libs/jquery/plugins/jquery.tablesorter.min.js',
            '/javascripts/publisher-tabs.js'
          ) %>
      <%= yield :extra_javascript %>

    </div>
  </div>

</body>
</html>
