<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag '/guide-assets/stylesheets/formtastic.css', '/guide-assets/stylesheets/formtastic_changes.css', '/stylesheets/admin/jquery-ui-1.8.14.css' %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
</head>
<body>

  <div id="wrapper" class="wrapper">

    <div class="content" role="main">

      <% [:notice, :alert].select { |k| flash[k].present? }.each do |k| %>
        <p class="flash-<%= k %>">
          <%= flash[k] %>
        </p>
      <% end %>

      <% unless current_page?(admin_root_path) %>
        <p class="return"><%= link_to 'Return to dashboard', admin_root_path %></p>
      <% end %>

      <%= yield %>

      <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      <%= javascript_include_tag '/guide-assets/javascripts/application.js', '/guide-assets/javascripts/jquery.mustache.js', '/guide-assets/javascripts/jquery-ui-1.8.14.custom.min.js', '/guide-assets/javascripts/form-tools.js' %>
      <%= yield :extra_javascript %>
    </div>
  </div>


</body>
</html>
