<% content_for :page_title, ' | GOV.UK Publisher' %>
<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
        "favicon-#{environment_style}.png" : "favicon.png" %>
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
<% end %>

<% content_for :navbar_items do %>
  <%= nav_link 'Publications', root_path %>
  <%= nav_link 'Add artefact', new_artefact_path %>
  <%= nav_link 'Downtime', downtimes_path %>
  <%= nav_link 'Reports', reports_path %>
  <%= nav_link 'Search by user', user_search_path %>
<% end %>

<% content_for :content do %>
  <% [:success, :info, :warning, :danger, :notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <%
      case k
      when :notice
        alert_class = "success"
      when :alert
        alert_class = "danger"
      else
        alert_class = k
      end
    %>
    <div class="alert alert-<%= alert_class %>"
      data-module="auto-track-event"
      data-track-action="alert-<%= alert_class %>"
      data-track-label="<%= strip_tags(flash[k]) %>">
        <%= flash[k] %>
    </div>
  <% end %>
  <%= yield %>
<% end %>

<% content_for :footer_version, CURRENT_RELEASE_SHA %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
  <%= yield :extra_javascript %>
<% end %>

<%# use the govuk_admin_template layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
