<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<%= render "govuk_publishing_components/components/layout_for_admin", {
  product_title: "Publisher",
  browser_title: yield(:page_title),
  environment: environment
} do %>

  <% render "layouts/google_tag_manager" %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Publisher",
    environment: environment,
    navigation_items: navigation_items(is_editor: current_user.govuk_editor?, path: request.path, user_name: current_user.name)
  } %>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

      <% if yield(:title).present? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "govuk_publishing_components/components/title", {
              title: yield(:title),
              margin_top: 0,
              margin_bottom: 6,
            } %>
          </div>
        </div>
      <% end %>

      <div class="govuk-grid-row">
        <%= yield %>
      </div>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.external_url_for("support"),
            text: "Raise a support request",
          },
          {
            href: "https://status.publishing.service.gov.uk/",
            text: "Check if publishing apps are working or if there’s any maintenance planned",
          },
        ],
      },
    ],
  } %>
<% end %>
